    <div class="vid_effects" data-tilt-glare="true" data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="400" data-tilt-max="10">
        <div class="c-example__tilt-inner"></div>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/352339784?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>

    <style>
    /* for tilt test */
.c-example__tilt {
  width: 50vw;
  height: 50vh;
  display: block;
  background-color: #9e21ff;
  background-image: linear-gradient(135deg, #ed21ff 0%, #9e21ff 100%, #9e21ff 100%);
  box-shadow: 0 3px 47px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transform: perspective(300px);
}

.c-example__tilt-inner {
  transform: translateZ(50px) translateY(-50%) translateX(-50%);
  position: absolute;
/*   top: 50%; */
  top: 48%;
  left: 50%;
  width: 150px;
  height: 150px;
  background-color: red;
  box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
  border-radius: 100%;
}

.c-example__tilt-inner:hover {
  cursor: pointer;
}
    </style>


<div class="purple-round-box"><h1>The Welcome E-mail</h1><p>A warm welcome goes a long way and sets the ground for you to e-mail again in the future</p></div>
<div class="spacer30"></div>
<div class="grayish-round-box"><h1>The New Subscriber E-mail</h1><p>Remind people they only need one more referral to unlock their next reward, move up the leaderboard and claim a huge prize.</p></div>
<div class="spacer30"></div>
<div class="grayish-round-box"><h1>The Anti-Fraud E-mail</h1><p>If UpViral's anti-fraud detection suspects foul play, this e-mail can be set to go out and remind the guilty party that it's not cool</p></div>
<div class="spacer30"></div>
<div class="grayish-round-box"><h1>The Double Opt In E-mail</h1><p>Stay compliant without lifting a finger by letting UpViral take care of your double opt in confirmation.</p></div>
<div class="spacer30"></div>
<div class="grayish-round-box"><h1>The Reward Unlocked E-mail</h1><p>Some e-mails always get opened, and this is one of them. So it's a great opportunity to remind people there are more rewards to be won.</p></div>
<div class="spacer30"></div>
<div class="grayish-round-box"><h1>The Congratulations E-mail</h1><p>UpViral can pick the winner for you based on a score or at random. This e-mail can be automatically sent with details of the prize that's been won.</p></div>

.masonry {
  columns: 1;
  column-gap: 10px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
    columns: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 2;
  }
}
.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  color: #111111;
  background-color: #f9f9f9;
}
.masonry-title, .masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}
.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid rgba(0, 0, 0, .05);
}
.masonry-footer {
  font-size: .75em;
  opacity: .25;
  text-align: center;
  padding-top: 3em; 
  padding-bottom: 3em;
  margin-bottom: -1.5em;
  transition: opacity 1s ease-in-out;
}
.masonry-footer a {
  color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
  opacity: .75;
}

<div class="masonry">
	<div class="masonry-brick">
		<h1>Streamlined E-mail</h1>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/bricks1@2x.png">
	</div>
	<div class="masonry-brick">
		<h1>Embedded Social Buttons</h1>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/handpick-share1@2x.png">
	</div>
	<div style="clear: both"></div>
	<div class="masonry-brick">
		<h1>Advanced E-mail Personalisation</h1>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tablet-with-pen1@2x.png">
	</div>
	<div class="masonry-brick">
		<h1>Multiple Sender Profile</h1>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/sender-profiles1@2x.png">
	</div>
</div>

<div class="masonry">
  <div class="masonry-item darkblue-bg">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1 class="text-white" style="color: #fff !important;">Streamlined E-mail</h1>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/bricks1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Advanced E-mail<br>Personalisation</h1>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tablet-with-pen1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Embedded Social Buttons</h1>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/handpick-share1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Multiple Sender Profile</h1>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/sender-profiles1@2x.png">
    </div>
  </div>
</div>


<div class="masonry">
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>The UpViral<br>Coupon System</h1>
		<p>If you own an e-Com store (or tou sell anything online) then UpViral's handling of single and multi-use coupon codes will make you happier than a kid in an e-com candy store.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/ecom-logos1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Turn Losers Into Winners</h1>
		<p>And what about all those new subscribers who DIDN'T win? They can become your best customers! Now they're on your list, you can follow up and offer them a discount code for the full-priced product they'd hoped to win.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/looser-to-win@2x.png" align="center">
		<div class="spacer20"></div>
		<div class="spacer20"></div>
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>eCom Custom Actions</h1>
		<p>Build your store by using UpViral;s Custom Actions drive customers to your store's website, social pages, and review sites.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/share-buttons@2x.png">
		<div class="spacer20"></div>
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Copy. Paste. Profit.</h1>
		<p>Simply copy and paste your codes into UpViral and you'll soon be offering hugely attractive discounts as rewards for people signing up and bringing you more customers</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/copy-paste-keyboard1.1@2x.png" align="right">
    </div>
  </div>
  <div class="masonry-item  darkblue-bg">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1 style="color: #fff !important;">Retargeting Pixel Support</h1>
		<p style="color: #fff !important;">Build a custom audience and benefit from cheaper ads and a more targeted reach to bring back interested buyers to your site.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/facebook-layout@2x.png" >
    </div>
  </div>
</div>





<div class="vid_effects">
        <div class="c-example__tilt-inner"></div>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe id="my_video" src="https://player.vimeo.com/video/352339784?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>


<div class="masonry">
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Visual Template Editor</h1>
		<p>Our visual editor is the best you'll find in a viral campaign builder.</p>
		<p>Simple, intuitive WYSIWYG editing will let you create your dream campaign in moments.</p>
		<div class="spacer20"></div>
		<div class="vid_effects" style="position: relative;">
		        <div class="c-example__tilt-inner"></div>
				<div style="padding:56.25% 0 0 0;position:relative;"><iframe id="my_video" src="https://player.vimeo.com/video/352339784?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		</div>
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>All Languages Supported</h1>
		<p>It's a big world out there and UpViral is ready to help you conquer all of it by making sure you can run viral campaigns successfully in ANY</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/globe1@2x.png">
    </div>
  </div>
  <div class="masonry-item  darkblue-bg">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1 style="color: #fff !important;">Properly Optimised For Mobile</h1>
		<p style="color: #fff !important;">Get the internet's most ready source of traffic working for you right out of the box, because UpViral isn't just 'mobile responsive,' it actually works too.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/android-and-ios1@2x.png" >
    </div>
  </div>
</div>
======================================================================

<div class="masonry">
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Campaign View</h1>
		<p>Track you campaign metrics over time with a 10,000ft view showing your total traffic, leads, referrals and compound conversion rates</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/greenbars1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>E-mail View</h1>
		<p>See at a glance which e-mails are building your business and which ones are losing you potential referrals.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/email-envelope1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Social View</h1>
		<p>Find out exactly where your subscribers are coming from and uncover new traffic sources.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/social-bubbles1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Split Tests View</h1>
		<p>Track the success of all your split tests with this overview tab and pick a statistically relevant winner</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/split-test-bubble@2x.png">
    </div>
  </div>
</div>
=================================================================

<div class="masonry">
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Instant Subscriptions</h1>
		<p>Transform non-responsive and pre-existing lists into powerful viral assets using one-click links in your emails. These links bypass the opt-in page and go straight to the share page to allow subscribers to join your campaign and start sharing it without the need to enter their email address.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/subscribe-button-click@2x.png">
		<div class="spacer20"></div>
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>1000+ <span class="font-color-5">zapier</span> integrations</h1>
		<p>Zapier connects UpViral with the apps you use every day offering simplified workflows and powerful automatons.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/zapier-image1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Segment Leads with Tags</h1>
		<p>Each time a participant joins a campaign or unlocks a new reward UpViral will send over a tag to your autoresponder or CRM.</p>
		<p>This way you can segment your leads and move them more effectively through your sales funnels.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/notification-tags1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Deep integrations</h1>
		<p>UpViral does ALOT more than send e-mail addresses to your autoresponder or CRM. Names, phone numbers, DOB, location can all be captured. In fact, any custom data that you need to build your business effectively can be collected by UpViral and sent to your autoresponder or</p>
		<div class="spacer10"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/integrations@2x.png">
		<div class="spacer50"></div>
    </div>
  </div>
  <div class="masonry-item darkblue-bg" style="height: 630px;">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1 style="color: #fff !important;" >Deep integrations</h1>
		<p class="font-white">Strong data equals a strong business. UpViral allows you to ask participants for as much data as you need to offer future prospects, customers and clients the best service possible.</p>
		<div class="spacer20"></div>
    </div>
  </div>
  <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/hero-software-pest@2x.png" style="position: relative; top: -395px; margin: auto 45px; left: 0; right: 0;">
</div>
====================================================================

<div class="masonry">
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Wonderful Widgets</h1>
		<p>UpViral widget campaigns make self-hosting easy. We give you two snippets of code. You put the code on your site. We tracking everything back at HQ.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/code-link@2x.png">
		<div class="spacer20"></div>
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Pop Up! Text-Links</h1>
		<p>Take full control over when your Pop Up! campaign displays by setting it to trigger anywhere you can place a text-link</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/getyoursfree1@2x.png">
    </div>
  </div>
  <div class="masonry-item darkblue-bg">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1 style="color: #fff !important;" >UpViral Pop Up! Campaigns</h1>
		<p class="font-white">The UpViral Pop Up! campaign displays when a visitor arrives to your site, or you can set it to appear after a certain amount of time.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/sharing-box1.1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer30"></div>
		<h1>HTML & 3rd Party<br>Integration</h1>
		<p>Easy integration means you can still use your favourite page builders and have UpViral tracking your campaigns in the background.</p>
		<div class="spacer20"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/html-integration-3rdparty1@2x.png">
    </div>
  </div>
</div>

====================================================================

<div class="masonry">
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Share Anywhere</h1>
		<p>UpViral's unique referral links let participants share their link anywhere other people are.</p>
		<div class="spacer10"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/social-hands-1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Optimised for<br><span class="fb-text">Facebook</span> & <span class="tw-text">Twitter</span></h1>
		<p>Built-in Facebook newsfeed and rich tweet optimisations ensuring your viral campaigns always look outstanding in the feed.</p>
		<div class="spacer10"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/optimised-social1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1 >Unique Tracking System</h1>
		<p >By letting each participant track their visitors and referrals you'll build their desire to go beyond 'just sharing' and push for actual referrals to your contests.</p>
		<div class="spacer10"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/Unique-Tracking-1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Weighted Social Actions</h1>
		<p>Guide people to share on your preferred traffic sources by allocate different points to different social actions.</p>
		<div class="spacer10"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/diagonal-socials1@2x.png">
    </div>
  </div>
  <div class="masonry-item">
    <div class="masonry-content">
    	<div class="spacer20"></div>
		<h1>Open Graph Optimisation</h1>
		<p>UpViral uses Open Graph to spread your viral campaigns far beyond Facebook and Twitter, making sure your contest is easy to share and looks great on major social platforms like LinkedIn, Pinterest & Whatsapp</p>
		<div class="spacer10"></div>
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/opengraph@2x.png">
		<div class="spacer30"></div>
    </div>
  </div>
</div>


======================================================================

<div class="platform-step1">
	<span class="gs-num">01</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat1@2x.png?v=1">
	<div class="text">
		<h1>You log in. Choose your templates.</h1>
		<p>You create your campaign. You monitor its success.</p>
	</div>
</div>

<div class="platform-step2">
	<span class="gs-num" >02</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat2@2x.png?v=1">
	<div class="text">
		<h1>You set up some A/B tests.</h1>
		<p>Fine-tune you e-mail marketing.</p>
	</div>
</div>

<div class="platform-step3">
	<span class="gs-num" >03</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat3@2x.png?v=1">
	<div class="text">
		<h1>You check your stats.</h1>
		<p>They're off the charts. You're viral!</p>
	</div>
</div>

<div class="platform-step4">
	<span class="gs-num" >04</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat4@2x.png?v=1">
	<div class="text">
		<h1>You choose your winners.</h1>
		<p>You watch your referrals growing and compounding</p>
	</div>
</div>

<div class="platform-step5">
	<span class="gs-num" >05</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat5@2x.png?v=1">
	<div class="text">
		<h1 class="font-44" style="color: #1BBCBD !important; margin-top: 18px;">Congratulations.</h1>
		<p class="font-28"><strong>You never left the dashboard.</strong></p>
	</div>
</div>
========================================================================================================================

<div class="platform-step1">
	<span class="gs-num">01</span>
	<div style="clear: both;display: table">
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat1@2x.png?v=1">
		<div class="text">
			<h1>You log in. Choose your templates.</h1>
			<p>You create your campaign. You monitor its success.</p>
		</div>
	</div>
</div>

<div class="platform-step2">
	<span class="gs-num" >02</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat2@2x.png?v=1">
	<div class="text">
		<h1>You set up some A/B tests.</h1>
		<p>Fine-tune your e-mail marketing.</p>
	</div>
</div>

<div class="platform-step3">
	<span class="gs-num" >03</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat3@2x.png?v=1">
	<div class="text">
		<h1>You check your stats.</h1>
		<p>They're off the charts. You're viral!</p>
	</div>
</div>

<div class="platform-step4">
	<span class="gs-num" >04</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat4@2x.png?v=1">
	<div class="text">
		<h1>You choose your winners.</h1>
		<p>You watch your referrals growing and compounding</p>
	</div>
</div>

<div class="platform-step5">
	<span class="gs-num" >05</span>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-plat5@2x.png?v=1">
	<div class="text">
		<h1 class="font-44" style="color: #1BBCBD !important; margin-top: 18px;">Congratulations.</h1>
		<p class="font-28"><strong>You never left the dashboard.</strong></p>
	</div>
</div>

==========================================================================================================

<div class="purple-round-box box-max-width"><p>Track users across all campaigns. See who referred who. How many share people made and where. See how far they've progressed. You can even manually unlock rewards for.</p></div>

<div style="max-width: 514px; display: table">
	<div class="purple-round-box" style="display: table-cell; width: 370px !important; text-align: left; min-width: unset !important;">
		<p>Our sweepstakes have been converting traffic into leads, <span style="font-family: 'PoppinsBold'">since 2015</span></p>
	</div>
	<div style="display: table-cell; vertical-align: middle;">
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/marker-2@2x.png" width="144" height="88"/>
	</div>
</div>

<div>
	<div class="purple-round-box">
		<p>Our sweepstakes have been converting traffic into leads, <span style="font-family: 'PoppinsBold'">since 2015</span></p>
	</div>
	<div class="mark">
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/marker-2@2x.png" width="144" height="88">
	</div>
</div>

<div>
	<div class="purple-round-box" style="">
		<p>Use UpViral's smart leaderboard to increase competition and drive <span style="font-family: 'PoppinsBold'">more referrals</span></p>
	</div>
	<div class="mark">
		<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/marker-3@2x.png" width="360" height="162"/>
	</div>
</div>

============================================================================================================
= TESTIMONIALS
============================================================================================================

<div class="testi-box">
	<img src="/wp-content/uploads/2019/04/photo@2x.png" style="">
	<p>"How do I stop people signing up?<br><strong>It was only a test!</strong>"</p>
	<p class="testi-author"><strong>MICHAEL DANTZIE</strong><br>on his first attempt with UpViral.</p>
</div>

<div class="testi-box">
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/troy_mur@2x.png" style="">
	<h1 class="font-purple">208,000</h1>
	<div class="sub-title">Life Changing Subscribers!</div>
	<p>"Only a couple of days left with our promo and we've now tipped over 208,000 subscribers using UpViral! Thanks again - your app has launched my business and possibly changed my life!"</p>
	<p class="testi-author"><strong>TROY MUR</strong></p>
</div>

<div class="testi-box">
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/abdel-mussa@2x.png" style="">
	<h1 class="title">"Upviral Has Easily Paid For Itself!"</h1>
	<!-- <div class="sub-title">Life Changing Subscribers!</div> -->
	<p>"Before buying UpViral, I didn’t know what to expect, too many marketers promise big and under-deliver. I purchased UpViral and tried it out. UpViral has easily paid for itself. If I compare its results to what I would have had to pay on Facebook to get those same leads! Definitely a good investment."</p>
	<p class="testi-author"><strong>ABDEL MUSSA</strong><br>United Kingdom</p>
</div>

<div class="testi-box">
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/michael-cooch@2x.png" style="">
	<h1 class="font-purple">29,478</h1>
	<div class="sub-title">Responsive Leads</div>
	<p>"UpViral has proven to be the simple, effective and affordable viral contest app we were looking for. It'e helped us build a responsive 30,000+ list in a new market in less than six months."</p>
	<p class="testi-author"><strong>MICHAEL COOCH</strong></p>
</div>

<div class="testi-box">
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/judy-jong@2x.png" style="">
	<h1 class="title">"I'm A Newbie At This!"</h1>
	<!-- <div class="sub-title">Life Changing Subscribers!</div> -->
	<p>"I had the privilege to be on of the beta testers of UpViral... So far I've already added 450 leads to my account... This may not seem like a lot, but I am a newbie with this by no means a Facebook guru... Getting 450 from my small niche websites is a LOT harder, so I will definitely continue building my list using UpViral!... You have a fan Wilco and I am sure other people will love UpViral too... Keep up the good work!"</p>
	<p class="testi-author"><strong>JUDY JONG</strong><br>The Netherlands</p>
</div>

<div class="testi-box" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/russell-brunson@2x.png" style=""> -->
	<p class="font-28"><strong>"Nothing Compares to UpViral!"</strong></p>
	<p >"I've used several plugins and giveaway software in the past but none of them are comparable to UpViral... This is definitely one of the BEST investments I had made to Gracious Watch... I grew my subscribers to over 10,000 subscribers in just a few short months and received many emails from my readers for organising such an interesting and fun giveaway"</p>
	<p class="testi-author"><strong>JEREMIAH SAY</strong><br>Gracious Watch</p>
</div>

<div class="testi-box" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/russell-brunson@2x.png" style=""> -->
	<p class="font-28"><strong>"Best Invention Since Sliced Bread!"</strong></p>
	<p >"Thank you Wilco and UpViral team for the WhatsApp share feature. This is the best invention since sliced bread!"</p>
	<p class="testi-author"><strong>PHILLIPE LECOUTRE</strong></p>
</div>

<div class="testi-box" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/russell-brunson@2x.png" style=""> -->
	<p class="font-28"><strong>"1 Led Per Second!"</strong></p>
	<p >"Right now we are hitting 1 lead per second... this is insane... 27k leads in 2 days... and to be honest I didn't believe something like this could happen... my client is going crazy! (see case study on this page)"</p>
	<p class="testi-author"><strong>JOE DI SIENA</strong></p>
</div>

<div class="testi-box" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/steven-vd-peijl@2x.png" style="">
	<p class="font-28"><strong>"740 Organic Leads in 2 Weeks!"</strong></p>
	<p >"UpViral has a huge impact on 2 of my projects! On the first project I used it to build up an early bird list which got us 740+ leads in just 2 weeks (all organic) with a 289.2% compound conversion rate!... When applying the same strategy to our second project it generated 1000+ leads!... I highly recommend using UpViral in your business. Wilco's products are always top-notch!"</p>
	<p class="testi-author"><strong>STEVEN VD PEIJL</strong></p>
</div>

<div class="testi-box" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/russell-brunson@2x.png" style=""> -->
	<p class="font-28"><strong>"Leaps & Bounds Ahead!"</strong></p>
	<p >"Simply put, it works. UpViral is leaps and bounds ahead of all other applications I considered. My first campaign began collecting leads straight away, 2 weeks in and I'm already at 500+ leads."</p>
	<p class="testi-author"><strong>JOEL COLEMAN</strong><br>United States</p>
</div>

<div class="testi-box" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/arthur-jansen@2x.png" style="">
	<p class="font-28"><strong>"The Results Are Amazing!"</strong></p>
	<p >"UpViral is a wonderful tool that enables you to reach skies of online marketing. The results are amazing!"</p>
	<p class="testi-author"><strong>ARTHUR JANSEN</strong><br>The Netherlands</p>
</div>

<div class="testi-box" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/paul-kutilin@2x.png" style="">
	<p class="font-28"><strong>"9000 Leads in 2 Weeks!"</strong></p>
	<p >"We used UpViral to promote our congress (local event) and the results were... shocking. We got more than 9000 leads through this tool in two weeks! We will definitely use UpViral for our other projects in the future. Thanks a lot for this tool!"</p>
	<p class="testi-author"><strong>PAUL KUTILIN</strong><br>Austria</p>
	<div class="vid_effects" style="position: relative; width: 470px; margin: 0px 0px 20px -2.4em; ">
	    <div class="c-example__tilt-inner"></div>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe id="my_video" src="https://player.vimeo.com/video/352339784?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 16px;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div>
</div>

<div class="testi-box" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/nikolai-leuveld@2x.png" style="">
	<p class="font-28"><strong>"UpViral Rocks!"</strong></p>
	<p >"UpViral Rocks! We spent a little less than €200 on ad spend to promote our UpViral giveaway, resulting in 4,339 subscribers and €16.320 in revenue within 6 weeks (and from there it kept on going). Been using it ever since!"</p>
	<p class="testi-author"><strong>NIKOLAI LEUVELD</strong></p>
</div>

<div class="testi-box" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/aldo-novak@2x.png" style="">
	<p class="font-28"><strong>"I HAVE To Tell You How Impressed I Am!"</strong></p>
	<p >"After one of your videos I decided to give it a try. The results? Well, 10 minutes after publishing the link at Facebook, I received 20 new leads. Now, I have got 718 leads with ONE campaign! Wow!! THANK YOU!"</p>
	<p class="testi-author"><strong>ALDO NOVAK</strong><br>Brazil</p>
</div>

<div class="testi-box" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/travis-luedke@2x.png" style="">
	<p class="font-28"><strong>"Well Over 15,000 Leads!"</strong></p>
	<p >"I have found UpViral is more effective than any other giveaway software/platform I've tried... It's my "go-to" lead collecting tool for all my giveaways. It's so versatile, with so many options, I'm still playing with it to learn new ways to use it. To date,  I've collected well over 15,000 leads with UpViral."</p>
	<p class="testi-author"><strong>TRAVIS LUEDKE</strong><br>Brazil</p>
</div>

<div class="testi-box" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/aldo-novak@2x.png" style=""> -->
	<h1 class="font-purple">208,000</h1>
	<div class="sub-title">Visitors in 7 Days!</div>
	<p>"We started UpViral operations in December 2015. I received approximately 17,000 visitors in the first 7 days. Much more than I planned...</p>
	<p>There onwards the speed slowed to approximately 1100 signups and later to 700 signups daily... The best part was that the users were sharing my website by approximately 3 shares per visitor. Thanks for helping me out in running my viral campaigns. I have recommended UpViral to my friends also!"</p>
	<p class="testi-author"><strong>NANDU SIGNH</strong></p>
</div>

<div class="testi-box" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/aldo-novak@2x.png" style=""> -->
	<p class="font-28"><strong>"<span class="font-purple">HOLY COW</span> Did This Software Pay <span class="font-purple">Off BIG TIME</span>!"</strong></p>
	<p>"And the results are in! I ran my first contest with UpViral, 12 Days of Christmas and there were 12 winners for a $99.99 item... in 12 days, I generated over $6,000 in sales, spent $1,000 on Facebook adverting, and collected almost 2100 new leads! HOLY COW did this software pay off BIG TIME!</p>
	<p class="testi-author"><strong>FARUK BARBER</strong><br>United Kingdom</p>
</div>

<div class="testi-box" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/aldo-novak@2x.png" style=""> -->
	<h1 class="font-purple">45,000+</h1>
	<div class="sub-title">Leads in a Week!</div>
	<p>"Amazing! Thanks, Wilco!"</p>
	<p class="testi-author"><strong>DIHN VAN DA</strong></p>
</div>

============================================================================================================
= TESTIMONIALS
= CALL OUT (PURPLE)
============================================================================================================

<div class="testi-box-alt">
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/russell-brunson@2x.png" style="">
	<p class="font-28"><strong>“UpViral is super cool!”</strong></p>
	<p class="testi-author"><strong>RUSSELL BRUNSON</strong></p>
	<div class="spacer20"></div>
	<div class="vid_effects" style="position: relative; width: 470px; margin: 0px 0px 20px -2.4em; ">
	    <div class="c-example__tilt-inner"></div>
		<div style="padding:56.25% 0 0 0;position:relative;"><iframe id="my_video" src="https://player.vimeo.com/video/352339784?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 16px;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	</div>
</div>

<div class="testi-box-alt" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/russell-brunson@2x.png" style=""> -->
	<p class="font-28"><strong>"31 High-End Leads In 48 Hours!"</strong></p>
	<p class="font-white">Super! Especially at such a low cost and ease of use. Lots of potential with this one!</p>
	<p class="testi-author"><strong>ROB PINION</strong></p>
</div>

<div class="testi-box-alt" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/faruk-barber@2x.png" style="">
	<p class="font-28"><strong>"Viral Referral Marketing At Its Best!"</strong></p>
	<p class="font-white">Thanks yo Wilco, even guys like me can start building huge lists!</p>
	<p class="testi-author"><strong>FARUK BARBER</strong><br>United Kingdom</p>
</div>

<div class="testi-box-alt" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/russell-brunson@2x.png" style=""> -->
	<p class="font-28"><strong>"Viral Referral Marketing At Its Best!"</strong></p>
	<p class="font-white">Thanks to Wilco, even guys like me can start building huge lists!</p>
	<p class="testi-author"><strong>FARUK BARBER</strong><br>United Kingdom</p>
</div>

<div class="testi-box-alt" style="padding-left: 40px; padding-right: 40px;">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/russell-brunson@2x.png" style=""> -->
	<p class="font-28"><strong>"I'm A Fan For Life!"</strong></p>
	<p class="font-white">"I don't advocate for products, but you guys are really on to something huge here, great job!"</p>
	<p class="testi-author"><strong>ROBERT FARRELL</strong></p>
</div>


============================================================================================================
= CASE STUDY
============================================================================================================
<div class="testi-box-470 white-bg">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/aldo-novak@2x.png" style=""> -->
	<h1 class="font-purple">45,000+</h1>
	<div class="sub-title">Leads in a Week!</div>
	<p>"Amazing! Thanks, Wilco!"</p>
	<p class="testi-author"><strong>DIHN VAN DA</strong></p>
</div>


<div class="testi-box-470 white-bg" >
	<h1 class="font-50">13,200+ <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">Subscribers gained!</div>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-50">310,546+ <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">Free visitors generated from 385 paid traffic visitors</div>
</div>

<div class="testi-box-470 white-bg" >
	<h1 class="font-50">16,653 <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">Free subscriber</div>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 " style="font-family: 'PoppinsBold'; line-height: 1.4;">"As you can see, people are still sharing every single day... a lot!"</h1>
	<div class="spacer20"></div>
	<p class="testi-author ">WILCO DE KRIEJ</p>
	<p class="testi-author-title ">UpViral Founder</p>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 " style="font-family: 'PoppinsBold'; line-height: 1.4;">"I've used a lot of contest software, but this is by far the best I've ever seen."</h1>
	<div class="spacer20"></div>
	<p class="testi-author ">MATTHER LONGLEY</p>
</div>

<div class="testi-box-470 white-bg" >
	<h1 class="font-50">114,585 <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">Subscribers in first month</div>
</div>

<div class="testi-box-470 white-bg">
	<h1 class="font-28" style="font-family: 'PoppinsBold'; line-height: 1.4;">Why shorter campaigns can be the. best way to generate leads.</h1>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto; background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/brad-costanzo@2x.png?v=12'); background-position: center; background-size: cover; height: 469px;">
	<div style="position: absolute; bottom: 40px;">
		<p class="testi-author font-white">BRAD COSTANZO</p>
		<p class="testi-author-title font-white">Founder</p>
	</div>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px ; background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/kenia@2x.png'); background-position: center; background-size: cover; height: 469px;">
	<div style="position: absolute; bottom: 40px;">
		<p class="testi-author font-white">KENIA</p>
		<p class="testi-author-title font-white">Founder</p>
	</div>
</div>

<div class="testi-box-470 white-bg" >
	<h1 class="font-50">3000 <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">Leads in 2 weeks</div>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 " style="font-family: 'PoppinsBold'; line-height: 1.4;">"UpViral is a great way to get a lot of brand exposure for free."</h1>
	<div class="spacer20"></div>
	<p class="testi-author ">BRAD COSTANZO</p>
	<p class="testi-author-title ">Stiletto Coffee, USA</p>
</div>


<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 " style="font-family: 'PoppinsBold'; line-height: 1.4;">Useful e-com strategies.</h1>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px auto 45px ; background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/heels@2x.png'); background-position: center; background-size: cover; height: 469px;">
</div>
<a href="#" class="cs-button-testi-box">
		read full case study
</a>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-50">$26,000 <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">Raised for charity</div>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto; background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/nicholas-kusmich@2x.png'); background-position: center; background-size: cover; height: 720px;">
</div>
<a href="#" class="cs-button-testi-box" style="margin: auto 30%;">
		read full case study
</a>

<div class="testi-box-470 white-bg" >
	<h1 class="font-28 " style="font-family: 'PoppinsBold'; line-height: 1.4;">"UpViral is a great way to get a lot of brand exposure for free."</h1>
	<div class="spacer20"></div>
	<p class="testi-author ">BRAD COSTANZO</p>
	<p class="testi-author-title ">Stiletto Coffee, USA</p>
</div>

<div class="testi-box-470 white-bg" style="background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/givebooks@2x.png'); background-position: center; background-size: cover; height: 304px; text-align: center">
	<div class="spacer20"></div>
	<h1 class="font-50 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">6400<br>Books Sold</h1>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto; text-align: center;">
	<h1 class="font-28 " style="font-family: 'PoppinsBold'; line-height: 1.4;">Ranked #1 on iTunes in multiple countries</h1>
	<div class="spacer10"></div>
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/5-stars@2x.png"  style="height: 32px;"/>
	<div class="spacer10"></div>
	<p class="testi-author-title ">50+ 5-star reviews in multiple countries</p>
</div>

<div class="testi-box-470 white-bg" >
	<h1 class="font-50">6,300+ <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">Downloads</div>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px auto 45px auto; background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/old-mic@2x.png'); background-position: center; background-size: cover; height: 416px; ">
</div>
<a href="#" class="cs-button-testi-box" style="bottom: 117px;" >
		read full case study
</a>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto; ">
	<h1 class="font-28 " style="font-family: 'PoppinsBold'; line-height: 1.4;">"If you're not using UpViral in 2018 you're losing money"</h1>
	<div class="spacer20"></div>
	<p class="testi-author ">JOE DI SIENA</p>
</div>

<div class="testi-box-470 white-bg" >
	<h1 class="font-50">3652.1% <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">A compound conversion rate</div>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px auto 45px auto; background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/optin-form@2x.png'); background-position: center; background-size: cover; height: 311px; ">
</div>


<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto; ">
	<h1 class="font-28 " style="font-family: 'PoppinsBold'; line-height: 1.4;">How to incorporate coupon codes to track sales</h1>
</div>

<div class="testi-box-470 white-bg" >
	<h1 class="font-50">$38,458 <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/increase-arrow@2x.png"></h1>
	<div class="sub-title">In sales in just 10 days</div>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto; background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/share-form@2x.png'); background-position: center; background-size: cover; height: 311px; ">
</div>

============================================================================================================
= CASE STUDY
= CALL OUT (PURPLE)
============================================================================================================

<div class="testi-box-470 purple-bg">
	<!-- <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/aldo-novak@2x.png" style=""> -->
	<h1 class="font-purple">45,000+</h1>
	<div class="sub-title">Leads in a Week!</div>
	<p>"Amazing! Thanks, Wilco!"</p>
	<p class="testi-author"><strong>DIHN VAN DA</strong></p>
</div>

<div class="testi-box-470 purple-bg">
	<h1 class="font-28 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">"I'm still gathering new leads and shares every single hour of every day!"</h1>
	<div class="spacer20"></div>
	<p class="testi-author font-white">WILCO DE KRIEJ</p>
	<p class="testi-author-title font-white">UpViral Founder</p>
</div>

<div class="testi-box-470 purple-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">Still producing leads long after the launch ended</h1>
</div>

<div class="testi-box-470 purple-bg">
	<h1 class="font-28 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">Advanced tactics anyone can us.</h1>
</div>

<div class="testi-box-470 purple-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">Launched new business in hyper-competitive saturated market</h1>
</div>

<div class="testi-box-470 purple-bg">
	<h1 class="font-28 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">Quick marketing masterclass</h1>
</div>

<div class="testi-box-470 purple-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">"As your campaign gets shared again and again, you create a viral loop that never stops."</h1>
	<div class="spacer20"></div>
	<p class="testi-author font-white">WILCO DE KRIEJ</p>
	<p class="testi-author-title font-white">UpViral Founder</p>
</div>

<div class="testi-box-470 purple-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">Half a million sales in just 6-days</h1>
</div>

<div class="testi-box-470 purple-bg" style="margin: 25px 0px 45px auto;">
	<h1 class="font-28 font-white" style="font-family: 'PoppinsBold'; line-height: 1.4;">How to leverage a viral waitlist</h1>
</div>

============================================================================================================
= FOOTER TESTIMONIAL
============================================================================================================

<div class="testi-box" style="width: 522px; float: right;" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/gray-round@2x.png" style="">
	<p class="font-20" style="font-family: 'PoppinsBold'; margin-bottom: 1em;">"Extreme Commitment To Quality!"</p>
	<p>"With each purchase from Wilco, I have experienced an extremely high commitment to the quality and development of products… as well as a genuine caring for the success of the customer. “</p>
	<p class="testi-author"><strong>ANNA PIZZOFERRATO</strong><br>United States</p>
</div>


============================================================================================================
= PRICING TABLE
= SLIDER
============================================================================================================
<div class="main_switch">
	<span style="" id="lblMonthly">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monthly &nbsp;</span>
	<label class="switch" >
	  <input type="checkbox" id="togglePrice" onclick="toggleFunction();" checked>
	  <span class="slider round" ></span>
	</label>
	<span style="" id="lblYearly">&nbsp; Yearly (save 30%)</span>	
</div>

<span style="" id="lblMonthly">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monthly &nbsp;</span>
<label class="switch" >
  <input type="checkbox" id="togglePrice" onclick="toggleFunction();" checked>
  <span class="slider round" ></span>
</label>
<span style="" id="lblYearly">&nbsp; Yearly (save 30%)</span>	



============================================================================================================
= PRICING TABLE
= POPULAR TABLE
= https://codepen.io/nxworld/pen/oLdoWb
============================================================================================================

<div class="ribbon ribbon-top-right"><span>popular</span></div>
<div class="title">Business</div>
<div class="price">$79/mo</div>
<div class="notes">30-Moneyback Guarantee</div>
<a class="x-anchor x-anchor-button btn-primary-1 btn-small" tabindex="0" href="#" style="outline: none;">
    <span class="x-anchor-content">
        <span class="x-anchor-text"><span class="x-anchor-text-primary">get upviral pro</span></span>
    </span>
</a>

============================================================================================================
= PRICING TABLE
= LIST
============================================================================================================

Run Unlimited Campaigns <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
10,000 Subscribers <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
Manage 1 Brand <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
UpViral Branding <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-dislike@2x.png" > <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
Email Support <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >


Run Unlimited Campaigns <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
25,000 Subscribers <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
Manage 3 Brand <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
Restrict by Location <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
A/B Split Testing <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
API + Zapier <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
Email Support <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >


All Business Features + <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
Run Unlimited Campaigns <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
100,000 Subscribers <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
Manage 10 Brands <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >
Priority Support <img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/icon-info@2x.png" >


============================================================================================================
= FEATURES TABLE
============================================================================================================

  <table class="features_table">
    <thead>
      <tr>
        <th>Usage</th>
        <th>Starter</th>
        <th>Business</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Subscribers</td>
        <td>10 000</td>
        <td>25 000</td>
        <td>25 000</td>
      </tr>
      <tr>
        <td>Unlimited Visitors</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Unlimited Campaigns</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Custom Domains</td>
        <td>1</td>
        <td>3</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Email Identities</td>
        <td>1</td>
        <td>3</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>


  <table class="features_table">
    <thead>
      <tr>
        <th>Sweepstakes</th>
        <th>Starter</th>
        <th>Business</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Automated Winner Selection</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Automated Prize Delivery</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Smart Leaderboards</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Scheduled Campaigns</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
    </tbody>
  </table>


  <table class="features_table">
    <thead>
      <tr>
        <th>Rewards</th>
        <th>Starter</th>
        <th>Business</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Unlimited Rewards</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Unique Coupon Delivery</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Reward Management</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
    </tbody>
  </table>


  <table class="features_table">
    <thead>
      <tr>
        <th>Pages & Widgets</th>
        <th>Starter</th>
        <th>Business</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mobile Optimized</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Fully Customizable</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Personalization Tags</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Scheduled Campaigns</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Facebook Login</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Hosted Templates</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Embeddable Widgets</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Popups</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Custom Integration</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
    </tbody>
  </table>

  <table class="features_table">
    <thead>
      <tr>
        <th>Analytics & Reporting</th>
        <th>Starter</th>
        <th>Business</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>In-Depth Analytics Dashboard</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Export CSV</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>UTM Tracking</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>A/B Split Testing</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/dash-blank@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
    </tbody>
  </table>

  <table class="features_table">
    <thead>
      <tr>
        <th>Integrations</th>
        <th>Starter</th>
        <th>Business</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Unlimited CRM Integrations</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Advanced Tagging</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Pixel Tracking</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>One-Click Links</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>REST API</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/dash-blank@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Webhooks</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/dash-blank@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Zapier</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/dash-blank@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
    </tbody>
  </table>

  <table class="features_table">
    <thead>
      <tr>
        <th>Email Automation</th>
        <th>Starter</th>
        <th>Business</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Automation Emails</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Personalization Tags</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Pixel Tracking</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Confirmation Email</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Custom SMTP</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
    </tbody>
  </table>


  <table class="features_table">
    <thead>
      <tr>
        <th>Features</th>
        <th>Starter</th>
        <th>Business</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>All languages supported</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Custom Actions</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Branded Referral Links</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>360 degrees lead view</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Embed on any site</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Rules Generator</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>GDPR Compliant</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Free SSL Certificate</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Access to Learning Center</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Restrict By Location</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/dash-blank@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Remove UpViral Branding</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/dash-blank@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
      </tr>
      <tr>
        <td>Support</td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td><img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png" ></td>
        <td>Priority</td>
      </tr>
    </tbody>
  </table>

  =============================================================
  = FOOTER 2
  =============================================================
  <div class="testi-box" style="width: 522px; float: right; margin-top: 80px" >
  	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/gray-round@2x.png" style="">
	<h1 class="font-28" style="line-height: 40px;">"Every day it just doubled and doubled and doubled!"</h1>
	<div class="spacer20"></div>
	<p class="testi-author"><strong>TAMAS</strong><br>on getting 72,000 leads in 2 weeks.</p>
  </div>


============================================================================================================
= REWARDS
============================================================================================================

  CALL OUT TEXT ONLY
<div class="testi-box-alt" style="padding-left: 40px; padding-right: 40px; min-height: unset; max-width: 570px;">
	<p class="font-white">Create an UpViral rewards campaign to match your product or service and you can have your own perpetual lead machine. </p>
</div>


<div class="testi-box" style="max-width: 570px;" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/travis-luedke@2x.png" style="">
	<p >"Upviral is more effective than any other giveaway platform I've tried... To date, I've collected well over 15,000 leads"</p>
	<p class="testi-author"><strong>TRAVIS LUEDKE</strong></p>
</div>

<div class="testi-box" style="min-height: unset; padding: 40px; margin: 0px 0px 0px auto;">
	<ul class="list_check">
		<li>Gain loyalty and recognition for your local business by offering discounts or freebies.</li>
	</ul>
</div>

<div class="testi-box" style="min-height: unset; padding: 40px; margin: 0px 0px 0px auto;">
	<ul class="list_check">
		<li>Create a rock-solid online business by building a huge list of targeted subscribers, fast.</li>
	</ul>
</div>

<div class="testi-box" style="min-height: unset; padding: 40px; margin: 0px 0px 0px auto;">
	<ul class="list_check">
		<li>Launch a new product without spending a fortune on ads.</li>
	</ul>
</div>

<div class="testi-box" style="min-height: unset; padding: 40px; margin: 0px 0px 0px auto;">
	<ul class="list_check">
		<li>Create a perpetual lead machine</li>
	</ul>
</div>


<div class="testi-box" style="max-width: 570px;" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/judy-jong@2x.png" style="">
	<p>“10 minutes after publishing the link at Facebook, I received 20 new leads.  Now, I have got 718 leads with ONE campaign! Wow!! THANK YOU!</p>
	<p class="testi-author"><strong>JUDY JONG</strong><br>The Netherlands</p>
</div>


<div class="testi-box-470" style="max-width: 570px; margin: 0px 0px 0px auto; padding: 20px 40px;" >
	<p class="font-28"><strong>Ensure steady conversions with a collection of proven page templates optimised to perform in virtually any niche.</strong></p>
</div>

<div class="testi-box-470" style="max-width: 570px; margin: 0px 0px 0px auto; padding: 20px 40px;" >
	<p class="font-28"><strong>Tweak your design in the drag and drop editor to match your brand and create a viral campaign that's perfect for your business.</strong></p>
</div>

<div class="testi-box" style="min-height: unset; padding: 40px; margin: 0px 0px 0px auto;">
	<ul class="list_check">
		<li>Automated trigger<br>e-mails</li>
	</ul>
</div>

<div class="testi-box-470 white-bg" style="margin: 25px 0px 45px auto; background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/img-gmail@2x.png'); background-position: center; background-size: cover; height: 311px; ">
</div>

============================================================================================================
= SWEEPSTAKES
============================================================================================================

<div class="testi-box" style="text-align: left; top: -220px; z-index: 2; left: 60px;" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/gray-round@2x.png" style="">
	<p>“UpViral is leaps and bounds ahead of all other applications I considered. My first campaign began collecting leads straight away. </p>
	<p class="testi-author"><strong>JOE COLEMAN</strong><br>United States</p>
</div>

<div class="testi-box">
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/troy_mur@2x.png" style="">
	<p>“Over 208,000 subscribers using UpViral! Thanks again – your app has launched my business and possibly changed my life!”</p>
	<p class="testi-author"><strong>TROY MUR</strong></p>
</div>


============================================================================================================
= WAITLIST
============================================================================================================

<div class="testi-box" style="margin: 0px 0px 0px auto;">
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/steven-vd-peijl@2x.png" style="">
	<p >“I used UpViral  to build up an early bird list which got us 740+ leads in just 2 weeks (all organic!) with a 289.2% compound conversion rate! When applying the same strategy to our second project it generated 1000+ leads!</p>
	<p class="testi-author"><strong>STEVEN VD PEIJL</strong></p>
</div>


<div class="carousel-section">
	<div class="carousel-holder">
		
		<div class="owl-carousel">
			<div class="slide">
				<h2 class="h3 font-28">How Matthew generated <br><span class="text-info font-color-3">114,585 subscribers</span> in his first month.</h2>
				<span class="graphic"><img src="../images/bg-slide1.svg" width="367" alt="image description"></span>
				<div class="image-holder">
					<img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/matthew.png" alt="image description" width="573" height="393">
				</div>
				<a class="e93-11 x-anchor x-anchor-button btn btn-primary-1 dark" tabindex="0" href="#">
					<span class="btn-play">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 101.3 114.6" style="enable-background:new 0 0 101.3 114.6;" xml:space="preserve">
						<path d="M95.7,49.8L13.5,1.9C6-2.5,0,1,0,9.7l0.4,95.2c0,8.7,6.2,12.2,13.7,7.9l81.6-47.1C103.2,61.3,103.2,54.2,95.7,49.8z"/>
						</svg>
					</span>
					<span class="x-anchor-content">
						<span class="x-anchor-text"><span class="x-anchor-text-primary">Matthew's Interview</span></span>
					</span>
				</a>
			</div>
			<div class="slide">
				<h2 class="h3 font-28">How UpViral turned <br><span class="text-info font-color-3">385 visitors into 13,200</span> subscribers</h2>
				<span class="graphic"><img src="../images/bg-slide2.svg" width="367" alt="image description"></span>
				<div class="image-holder">
					<img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/wilco.png" alt="image description" width="519" height="408">
				</div>
				<a class="e93-11 x-anchor x-anchor-button btn btn-primary-1" tabindex="0" href="#">
					<span class="x-anchor-content">
						<span class="x-anchor-text"><span class="x-anchor-text-primary">See how</span></span>
					</span>
				</a>
			</div>
			<div class="slide">
				<h2 class="h3 font-28">How Matthew generated <br><span class="text-info font-color-3">114,585 subscribers</span> in his first month.</h2>
				<span class="graphic"><img src="../images/bg-slide1.svg" width="367" alt="image description"></span>
				<div class="image-holder">
					<img src="//dev2.upviraltest.com/wp-content/uploads/2019/10/matthew.png" alt="image description" width="573" height="393">
				</div>
				<a class="e93-11 x-anchor x-anchor-button btn btn-primary-1 dark" tabindex="0" href="#">
					<span class="btn-play">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 101.3 114.6" style="enable-background:new 0 0 101.3 114.6;" xml:space="preserve">
						<path d="M95.7,49.8L13.5,1.9C6-2.5,0,1,0,9.7l0.4,95.2c0,8.7,6.2,12.2,13.7,7.9l81.6-47.1C103.2,61.3,103.2,54.2,95.7,49.8z"/>
						</svg>
					</span>
					<span class="x-anchor-content">
						<span class="x-anchor-text"><span class="x-anchor-text-primary">Matthew's Interview</span></span>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>


<div class="testi-box"  style="margin: 0px 0px 0px auto;" >
	<img src="//dev2.upviraltest.com/wp-content/uploads/2019/09/gray-round@2x.png" style="">
	<p>“This is definitely one of the BEST investments I had made … I grew my subscribers to over 10,000 subscribers in just a few short months and received many emails from my readers for organising such an interesting and fun giveaway”</p>
	<p class="testi-author"><strong>JEREMIAH SAY</strong><br>Gracious Watch</p>
</div>

<!-- 
modified core X Theme.
/home/wilcod23/public_html/dev2.upviraltest.com/wp-content/themes/x/framework/functions/frontend/styles.php
-->

================================================
= HOME PAGE BACKUPS
================================================
<div id="anim_viral_sweeps" class="wow fadeIn" data-wow-duration="1.2s" data-wow-offset="150" data-wow-delay="1s"></div>

<div id="anim_viral_rewards" class="wow fadeIn" data-wow-duration="1.2s" data-wow-offset="150" data-wow-delay="1s"></div>

<div id="anim_viral_waitlists" class="wow fadeIn" data-wow-duration="1.2s" data-wow-offset="150" data-wow-delay="1s"></div>

<div class="carousel-section">
	<div class="carousel-holder">
		
		<div class="owl-carousel">
			<div class="slide">
				<h2 class="h3 font-28">How Matthew generated <br><span class="text-info font-color-3">114,585 subscribers</span> in his first month.</h2>
				<span class="graphic"><img src="//dev2.upviraltest.com/images/bg-slide1.svg" width="367" alt="image description"></span>
				<div class="image-holder">
					<img src="//dev2.upviraltest.com/images/matthew.png" alt="image description" width="573" height="393">
				</div>
				<a class="e93-11 x-anchor x-anchor-button btn btn-primary-1 dark videoLightbox" tabindex="0" href="//player.vimeo.com/video/84751465" >
					<span class="btn-play">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 101.3 114.6" style="enable-background:new 0 0 101.3 114.6;" xml:space="preserve">
						<path d="M95.7,49.8L13.5,1.9C6-2.5,0,1,0,9.7l0.4,95.2c0,8.7,6.2,12.2,13.7,7.9l81.6-47.1C103.2,61.3,103.2,54.2,95.7,49.8z"/>
						</svg>
					</span>
					<span class="x-anchor-content">
						<span class="x-anchor-text"><span class="x-anchor-text-primary">Matthew's Interview</span></span>
					</span>
				</a>
			</div>
			<div class="slide">
				<h2 class="h3 font-28">How UpViral turned <br><span class="text-info font-color-3">385 visitors into 13,200</span> subscribers</h2>
				<span class="graphic"><img src="//dev2.upviraltest.com/images/bg-slide2.svg" width="367" alt="image description"></span>
				<div class="image-holder">
					<img src="//dev2.upviraltest.com/images/wilco.png" alt="image description" width="519" height="408">
				</div>
				<a class="e93-11 x-anchor x-anchor-button btn btn-primary-1" tabindex="0" href="#">
					<span class="x-anchor-content">
						<span class="x-anchor-text"><span class="x-anchor-text-primary">See how</span></span>
					</span>
				</a>
			</div>
			<div class="slide">
				<h2 class="h3 font-28">How Matthew generated <br><span class="text-info font-color-3">114,585 subscribers</span> in his first month.</h2>
				<span class="graphic"><img src="//dev2.upviraltest.com/images/bg-slide1.svg" width="367" alt="image description"></span>
				<div class="image-holder">
					<img src="//dev2.upviraltest.com/images/matthew.png" alt="image description" width="573" height="393">
				</div>
				<a class="e93-11 x-anchor x-anchor-button btn btn-primary-1 dark videoLightbox" tabindex="0" href="//player.vimeo.com/video/84751465">
					<span class="btn-play">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 101.3 114.6" style="enable-background:new 0 0 101.3 114.6;" xml:space="preserve">
						<path d="M95.7,49.8L13.5,1.9C6-2.5,0,1,0,9.7l0.4,95.2c0,8.7,6.2,12.2,13.7,7.9l81.6-47.1C103.2,61.3,103.2,54.2,95.7,49.8z"/>
						</svg>
					</span>
					<span class="x-anchor-content">
						<span class="x-anchor-text"><span class="x-anchor-text-primary">Matthew's Interview</span></span>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>

[lightbox selector=".videoLightbox" opacity="0.875" prev_scale="0" prev_opacity="0" next_scale="0" next_opacity="0
" orientation="horizontal"]