@font-face {
    font-family: "PoppinsBold";
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "PoppinsRegular";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "PoppinsBlack";
    src: url(../assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: "PoppinsBlackItalic";
    src: url(../fonts/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: "PoppinsBoldItalic";
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsExtraBold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "PoppinsExtraBoldItalic";
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsExtraLight";
    src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "PoppinsExtraLightItalic";
    src: url(../assets/fonts/Poppins-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "PoppinsItalic";
    src: url(../assets/fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: "PoppinsLight";
    src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "PoppinsLightItalic";
    src: url(../assets/fonts/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: "PoppinsMedium";
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "PoppinsMediumItalic";
    src: url(../assets/fonts/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "PoppinsSemiBoldItalic";
    src: url(../assets/fonts/Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsThin";
    src: url(../assets/fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: "PoppinsThinItalic";
    src: url(../assets/fonts/Poppins-ThinItalic.ttf);
}

.x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a, .x-navbar .desktop .x-nav > .current-menu-item > a {
  box-shadow: none !important;
}

header.x-navbar { border:1px solid #f9fafc; box-shadow: none !Impoortand! }

footer { background-color: #F9FAFC !important; }
footer.top {  margin-top: -2px; border-top: 0px !important; box-shadow: none !important; }

#menu-main li:last-child > a > span{
  background: #1BBCBD;
  padding: 10px 27px;
  margin-top: -10px;
  color: #fff;
  border-radius: 34px;
}

#monitor_lottie_cont {
  position: absolute; width: 520px; right: 18px; bottom: 25px; 
}

#anim_viral_sweeps, #anim_viral_rewards, #anim_viral_waitlists {
  width: 200px; height: 280px;
  margin: 0px auto;
}

.testi-box-right {
  margin: 0px 20px;
}

.testi-box-left {

}

.testi-box { 
  background: #F9FAFC; 
  min-height: 224px; 
  /*min-width: 522px;*/
  max-width: 522px;
  width: 100%;
/*   width: 522px;  */
/*   position: absolute;
  right: 0px;  */
  z-index: -1; 
  padding: 35px 40px 35px 72px; 
  border-radius: 16px; 
  font-size: 18px;
  color: #34495E;
  margin-bottom: 25px;
  position: relative;
}

.testi-box h1 { margin-top: 0px; margin-bottom: 0px; font-size: 44px; font-family: "PoppinsBold"; }

.testi-box img {
  width: 96px; height: 96px; position: absolute; left: -46px; top: 20px;
}


.testi-box p.title,.testi-box-alt p.title {
  font-size: 28px; font-family: "PoppinsBold"; color: #283848;
  margin-bottom: 20px; line-height: 1.3;
}

.testi-box .sub-title,.testi-box-alt .sub-title {
  font-size: 16px; font-family: "PoppinsRegular"; color: #34495E;
  margin-bottom: 20px;
}

.testi-box .testi-author {
  font-size: 14px;
  color: #34495E;
}

.testi-box p, .testi-box-alt p{
  line-height: 1.75 !important;
}

.testi-box-alt { 
  background: #6D60B0; 
  min-height: 224px; 
  max-width: 522px;
  width: 100%;
/*   width: 522px;  */
/*   position: absolute;
  right: 0px;  */
  z-index: -1; 
  padding: 35px 72px; 
  border-radius: 16px; 
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
  position: relative;
}

.testi-box-alt img {
  width: 96px; height: 96px; position: absolute; left: -46px; top: 20px;
}

.testi-box-alt .testi-author {
  font-size: 14px;
  color: #fff;
}

.testi-box-470 { 
  background: #F9FAFC; 
  min-height: 176px; 
  max-width: 470px;
  width: 100%;
  z-index: -1; 
  padding: 50px 40px; 
  border-radius: 16px; 
  font-size: 18px;
  color: #34495E;
  margin: 25px auto 45px;
  position: relative;
}

.testi-box-470 h1 {
  margin-top: 0px !important;
}

.testi-box-470 .testi-author {
  font-size: 14px;
  font-family: 'PoppinsBold';
  color: #34495E;
  margin-bottom: 0px !important;
}

.testi-box-470 .testi-author-title {
  font-size: 14px;
  font-family: 'PoppinsRegular';
  color: #34495E;
  margin-bottom: 0px !important;
}

.cs-button-testi-box {
  position: absolute; bottom: 150px; width: 326px; height: 72px; background: rgba(255,255,255, 0.3); left:0; right: 0; margin: auto; text-align: center;
  text-transform: uppercase;
  font-family: "PoppinsBold";
  font-size: 16px;
  padding: 20px;
  border-radius: 36px;
  color: #fff;
  z-index: 999999;
}

.cs-button-testi-box:hover {
  background: rgba(255,255,255, 0.5);
}

/*
.box-right-hack {
  margin: ;
}
*/
.purp-box { 
  background: #6D60B0; 
  width: 370px;
  z-index: 1; 
  padding: 32px; 
  border-radius: 16px; 
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
  position: absolute;
  text-align: left;
  left: 100px;
}

.purp-box > div.pointer {
  width: 88px;
  height: 88px;
  position: absolute;
  border: 4px solid #6D60B0;
  border-radius: 100%;
  right: -158px;
  top: 46px;
  background-color: rgba(109, 96, 176, .3);
}

.purp-box > div.pointer:before {
    content: '';
    width: 100%;
    border-bottom: solid 4px #6D60B0;
    position: absolute;
    left: -80px;
    top: 50%;
    z-index: 1;
}

.purp-box-r { 
  background: #6D60B0; 
  width: 370px;
  z-index: 1; 
  padding: 32px; 
  border-radius: 16px; 
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
  position: absolute;
  text-align: left;
  right: 100px;
  bottom: 132px;
}

.purp-box-r > div.pointer {
  width: 88px;
  height: 88px;
  position: absolute;
  border: 4px solid #6D60B0;
  border-radius: 100%;
  left: -158px;
  top: 46px;
  background-color: rgba(109, 96, 176, .3);
}

.purp-box-r > div.pointer:before {
    content: '';
    width: 100%;
    border-bottom: solid 4px #6D60B0;
    position: absolute;
    left: 80px;
    top: 50%;
    z-index: 1;
}

.pointer-1 {
  width: 88px;
  height: 88px;
  position: absolute;
/*   position: relative; */
  border: 4px solid #6D60B0;
  border-radius: 100%;
  left: 35%;
  top: 260px;
  background-color: rgba(109, 96, 176, .3);
  z-index: 2;
}

.pointer-1:before {
    content: '';
    border-right: solid 4px #6D60B0;
    position: absolute;
    left: 50%;
    top: -125px;
    z-index: 3;
    height: 122px;
}

.pointer-2 {
  width: 88px;
  height: 88px;
  position: absolute;
/*   position: relative; */
  border: 4px solid #6D60B0;
  border-radius: 100%;
  left: 35%;
  top: 342px;
  background-color: rgba(109, 96, 176, .3);
  z-index: 2;
}

.pointer-2:before {
    content: '';
    border-right: solid 4px #6D60B0;
    position: absolute;
    left: 50%;
    top: -188px;
    z-index: 3;
    height: 185px;
}

.pointer-3 {
  width: 88px;
  height: 88px;
  position: absolute;
/*   position: relative; */
  border: 4px solid #6D60B0;
  border-radius: 100%;
  left: 35%;
  top: 200px;
  background-color: rgba(109, 96, 176, .3);
  z-index: 2;
}

.pointer-3:before {
    content: '';
    border-right: solid 4px #6D60B0;
    position: absolute;
    left: 50%;
    top: -50px;
    z-index: 3;
    height: 50px;
}



.heart_icon {
  margin-top: -10px;
  margin-bottom: 0px;
}

.btn-primary-1 {
  min-width: 240px;
  background-color: #1BBCBD !important;
  text-transform: uppercase;
  text-align: center;
  border-radius: 36px !important;
  padding: 20px !important;
  box-shadow: none !important;
  height: 64px;
}

.btn-primary-1 .x-anchor-text-primary {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.btn-primary-2 {
  min-width: 240px;
  background-color: #DDF5F5 !important;
  text-transform: uppercase;
  text-align: center;
  border-radius: 36px !important;
  padding: 20px !important;
  box-shadow: none !important;
  height: 64px;
}

.btn-primary-2 .x-anchor-text-primary {
  color: #1BBCBD !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.btn-small {
  min-width: 200px !important;
  height: 56px !important;
  padding: 15px !important;
}

.btn-large {
  min-width: 240px !important;
  height: 72px !important;
  padding: 25px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.no-margins {
  margin: 0px !important;
}

.top-145 {
  top: 145px;
}

.font-color-1 {
  color: #283848 !important;
}

.font-color-2 {
  color: #34495E !important;
}

.font-color-3 {
  color: #1BBCBD !important;
}

.font-color-4 {
  color: #6D60B0 !important;
}

.font-color-5 {
  color: #ff4a00 !important;
}

.font-color-6 {
  color: #1BBCBD !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-44 {
  font-size: 44px !important;
}

.font-50 {
  font-size: 50px !important;
}

.font-white {
  color: #fff !important;
}

.font-purple {
  color: #6D60B0 !important;
}

.font-popbold {
  font-family: "PoppinsBold" !important;
}

.white-bg {
  background-color: #fff !important;
}

.purple-bg {
  background-color: #6D60B0 !important; 
}

.icon-bubble-heart {
  background-image: url('/wp-content/uploads/2019/04/heart-in-bubble-160@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
  
  position: absolute;
  top: 84px;
  right: 135px;
  z-index: 2;
  clear:both;
}

.icon-bubble-elepsis {
  background-image: url('/wp-content/uploads/2019/04/like-in-bubble-160@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;

  position: absolute;
  left: 81px;
  top: 188px;
  z-index: 2;
  clear:both;
}

.icon-bubble-star {
  background-image: url('/wp-content/uploads/2019/04/star-in-bubble-160@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  
  position: absolute;
  top: 212px;
  right: 44px;
  z-index: 2;
  clear:both;
}

.icon-bubble-email {
  background-image: url('/wp-content/uploads/2019/04/email-in-bubble-160@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;

  position: absolute;
  left: 38px;
  top: 306px;
  z-index: 2;
  clear:both;
}

.icon-bubble-frustration {
  background-image: url('/wp-content/uploads/2019/04/frustration-in-bubble-160@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;

  position: absolute;
  right: 265px;
  top: 0px;
  z-index: 2;
  clear:both;
}

.icon-bubble-exclamation {
  background-image: url('/wp-content/uploads/2019/04/exclamation-in-bubble-160@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;

  position: absolute;
  left: 75px;
  top: 58px;
  z-index: 2;
  clear:both;
}

.icon-bubble-heart.size120 {
  height: 120px !important;
  width: 120px !important;
  top: 48px !important;
  left: 394px !important;
}


.icon-bubble-star.size120 {
  height: 120px !important;
  width: 120px !important;
  top: 80px !important;
  right: 378px !important;
  transform:scaleX(-1);
}


.gs-num { font-family:"PoppinsBold"; color: #DFE2E7; opacity: .5; font-size: 120px; display: table-cell; }
.gs-title { font-family:"PoppinsBold"; color: #283848; font-size: 66px; display: table-cell; vertical-align: middle; padding-left: 30px; }
.gs-desc-g { font-family:"PoppinsBold"; color: #1BBCBD; font-weight: bold; font-size: 28px; }
.gs-desc-b { font-family:"PoppinsBold"; color: #283848; font-weight: bold; font-size: 28px; }

#bottom_testi .testi-box { margin-top: -70px; margin-right: 80px; }
#div_couch { clear: both;position: absolute;height: 100%;width: 100%; left: 0;top: 0; }

#video_machine { max-width: 770px; max-height: 432px; margin: auto; }
#video_machine iframe { border-radius: 16px; }

    /* for tilt test */
.c-example__tilt {
  width: 50vw;
  height: 50vh;
  display: block;
  background-color: #9e21ff;
  background-image: linear-gradient(135deg, #ed21ff 0%, #9e21ff 100%, #9e21ff 100%);
  box-shadow: 0 3px 47px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transform: perspective(300px);
}

.c-example__tilt-inner {
  transform: translateZ(50px) translateY(-50%) translateX(-50%);
  position: absolute;
/*   top: 50%; */
  top: 48%;
  left: 50%;
  width: 150px;
  height: 150px;
/*   background-color: transaparent; */
/*   box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3); */
  border-radius: 100%;
  z-index: 999;
  background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/play-big@2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.c-example__tilt-inner:hover {
  cursor: pointer;
}


/* START carousel */

img.lazy,
iframe.lazy {
  display: none;
}

.carousel-section {
  padding: 30px 0;
}

.carousel-holder {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.carousel-holder h2 {
  font-size: 40px;
  line-height: 1.4 !important;
  font-weight: bold !important;
  letter-spacing: 0 !important;
}

.carousel-holder h2 .text-blue {
  color: #0cc;
}

.carousel-holder .btn {
  min-width: 324px;
  position: absolute;
  bottom: 50px;
  left: 12%;
}

.carousel-holder .btn.btn-primary-1.dark {
  background: #435268 !important;
  padding-left: 65px !important;
}

.carousel-holder .btn.btn-primary-1.dark:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/matthew.png) no-repeat 50% 50%;
  background-size: cover;
  opacity: .4;
}

.carousel-holder .btn.btn-primary-1.dark .btn-play {
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.carousel-holder .btn.btn-primary-1.dark .btn-play svg {
  display: block;
  width: 14px;
  height: 16px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  fill: #435268;
}

.carousel-holder .graphic {
  width: 810px;
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.carousel-holder .graphic img {
  opacity: .6;
}

.owl-carousel {
  padding-bottom: 40px;
}

.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}

.owl-carousel .owl-item h2 {
  margin-bottom: 30px;
}

.owl-carousel .owl-item .graphic img {
  max-width: none;
}

.owl-carousel .owl-item.next_slide.active h2,
.owl-carousel .owl-item.next_slide.active .btn,
.owl-carousel .owl-item.next_slide.active .graphic {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-item.prev_slide.active h2,
.owl-carousel .owl-item.prev_slide.active .btn,
.owl-carousel .owl-item.prev_slide.active .graphic {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #e0e0e0;
  margin: 0 7px;
  outline: none;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #0cc;
}

@media (min-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 979px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1023px) {
  .carousel-holder .btn {
    min-width: 250px;
    left: 8%;
  }

  .carousel-holder .image-holder {
    max-width: 60%;
    margin: 0 auto;
  }

  .carousel-holder .graphic {
    width: 600px;
  }
}

@media (max-width: 979px) {
  .x-main.full,
  .x-main.left,
  .x-main.right,
  .x-sidebar.left,
  .x-sidebar.right {
    float: none;
    display: block;
    width: auto !important;
  }

  .x-navbar-fixed-top-active .x-navbar-wrap {
    margin-bottom: 0;
  }

  body.x-navbar-fixed-top-active .x-navbar-wrap {
    height: auto;
  }

  .x-widgetbar {
    left: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .carousel-holder .btn {
    left: 5%;
    bottom: 15px;
    min-width: 200px;
  }

  .carousel-holder .graphic {
    width: 450px;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* END carousel */


.icon-details .x-text-content-text-primary p{
  color: #283848;
  font-size: 28px;
  font-family: "PoppinsBold";
  margin-bottom: 15px;
}


.icon-details .x-text-content-text-subheadline p{
  color: #34495E;
  font-size: 16px;
  font-family: "PoppinsRegular";
}

.flex-column {
  padding: 40px 0px 0px;

}

.flex-column .flex-col-bg{
    background-color: #F9FAFC;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 470px;
    border-radius: 16px;
}

.fb-text { color: #3B5998 !important; }
.tw-text { color: #55ACEE !important; }

.spacer10 { clear: both; width: 100%; height: 10px; }
.spacer20 { clear: both; width: 100%; height: 20px; }
.spacer30 { clear: both; width: 100%; height: 30px; }
.spacer40 { clear: both; width: 100%; height: 40px; }
.spacer50 { clear: both; width: 100%; height: 50px; }

.text-center { text-align: center !important; }
.darkblue-bg { background-color: #1D2935 !important; }
.text-white { color: #fff !important; }
.float-right { float: right; }
.move-top-265 {
  margin-top: -265px !important;
  z-index: 999
}



.box-max-width {
  max-width: 370px;
}

.purple-round-box {
  background-color: #6D60B0;
  border-radius: 16px;
  min-width: 470px;
  width: 100%;
  color: #fff !important;
  padding: 20px 30px;
  margin: auto 0px auto 20px;
}

.purple-round-box h1 {
  font-family: "PoppinsBold";
  font-size: 28px;
  color: #fff !important;
  margin: 10px 0px;
}

.purple-round-box p {
  font-family: "PoppinsRegular";
  font-size: 16px;
  color: #fff !important;
}

.grayish-round-box {
  background-color: #F9FAFC;
  border-radius: 16px;
  min-width: 470px;
  width: 100%;
  color: #283848 !important;
  padding: 20px 30px;
  margin: auto 0px auto 20px;
}

.grayish-round-box h1 {
  font-family: "PoppinsBold";
  font-size: 28px;
  color: #283848 !important;
  margin: 10px 0px;
}

.grayish-round-box p {
  font-family: "PoppinsRegular";
  font-size: 16px;
  color: #34495E !important;
}

.grayish-round-box-container {
  padding: 20px;
}

.grayish-round-box-container > div {
  background-color: #F9FAFC !important;
  border-radius: 16px;
  color: #283848 !important;
  padding: 20px 30px 40px !important;
}

.grayish-round-box-container h1 {
  font-family: "PoppinsBold" !important;
  font-size: 28px !important;
  color: #283848 !important;
  margin: 10px 0px !important;
}

.grayish-round-box-container p {
  font-family: "PoppinsRegular" !important;
  font-size: 18px !important;
  color: #34495E !important;
  line-height: 32px !important;
}

.grayish-round-box-container a {
  text-decoration: underline !important;
}

/* .masonry { 
  width: 85%;
  margin: auto;
}

.masonry-brick {
  float: left;
  width: 100%;
  max-width: 470px;
  background-color: #ccc;
  margin: 20px;
  border-radius: 16px;
  text-align: center;
  padding: 20px 0px 0px;
}

.masonry-brick h1 {
  font-family: "PoppinsBold";
  font-size: 28px;
  color: #fff !important;
  margin: 10px 0px;
}
 */

.masonry {
  columns: 1;
  column-gap: 5px;
  margin: auto;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
    columns: 2;
    width: 85%;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 2;
    width: 85%;
  }
}
.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
/*   filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3)); */
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
/*   filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3)); */
}
.masonry-content {
  overflow: hidden;
  text-align: center;
}

.masonry-content h1 {
  font-family: "PoppinsBold";
  font-size: 28px;
  color: #283848 !important;
/*    margin: 30px 0px; */
  margin: 15px auto;
}

.masonry-content p {
  font-family: "PoppinsRegular";
  font-size: 16px;
  color: #34495E;
  padding: 0px 40px;
}

.masonry-content img {
  border-radius: 0px 0px 16px 16px;
}

.masonry-item {
/*   color: #111111; */
  background-color: #F9FAFC;
  max-width: 470px;
  width: 100%;
  margin: 10px 40px 20px 20px;
  border-radius: 16px;
}
.masonry-title, .masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}
.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid rgba(0, 0, 0, .05);
}


.platform-step1 {
  display: table;
}


.platform-step2 {
  display: table;
  margin-left: 65px;
}


.platform-step3 {
  display: table;
  margin-left: 150px;
}


.platform-step4 {
  display: table;
  margin-left: 225px;
}


.platform-step5 {
  display: table;
  margin-left: 300px;
}


.platform-step1 span,
.platform-step2 span,
.platform-step3 span,
.platform-step4 span,
.platform-step5 span{
  display: table-cell;
  line-height: 1.2;
}


.platform-step1 img,
.platform-step2 img,
.platform-step3 img,
.platform-step4 img,
.platform-step5 img{
  display: table-cell;
  margin: 0px 40px;
}


.platform-step1 .text,
.platform-step2 .text,
.platform-step3 .text,
.platform-step4 .text,
.platform-step5 .text{
  display: table-cell;
  vertical-align: middle;
}


.platform-step1 .text h1,
.platform-step2 .text h1,
.platform-step3 .text h1,
.platform-step4 .text h1,
.platform-step5 .text h1{
  font-size: 28px;
  color: #283848 !important; 
}

.platform-step1 .text p,
.platform-step2 .text p,
.platform-step3 .text p,
.platform-step4 .text p,
.platform-step5 .text p{
  font-size: 16px;
  color: #34495E !important;
}

#buzz_mark1 {
    position: absolute;
    bottom: 46%;
    display: block;
    left: 10px;
}

#buzz_mark1 > div {
  max-width: 514px; display: table;
}

#buzz_mark1 > div > div.purple-round-box {
  display: table-cell; width: 370px !important; text-align: left; min-width: unset !important;
}

#buzz_mark1 > div > div.mark {
  display: table-cell; vertical-align: middle;  
}

#buzz_mark2 {
    position: absolute;
    right: 20px;
    bottom: 22.8%; 
}

#buzz_mark2 > div {
  min-width: 514px; 
}

#buzz_mark2 > div > div.purple-round-box {
  width: 370px !important; text-align: left; min-width: unset !important;
  float: right;
}

#buzz_mark2 > div > div.mark {
   text-align: left;
}

.normal-text-20 p{
  font-family: "PoppinsRegular"; font-size: 20px; color: #34495E;
}

/*================ START: TOGGLE SWITCH ===================*/
.switch {
  position: relative;
  display: inline-block;
/*  width: 60px;
  height: 34px;*/
  width: 108px;
  height: 55px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
/*  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;*/
  height: 45px;
  width: 45px;
  /*left: 32px;*/
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1BBCBD;

}

input:focus + .slider {
  box-shadow: 0 0 1px #1BBCBD;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 32px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#togglePrice {
  margin: 2.425em 0 !important;
}

/*================ END : TOGGLE SWITCH ===================*/

.monthly { display: none; }
#lblMonthly { color: #DFE2E7;  padding-top: 30px; font-size: 20px; font-family: "PoppinsRegular"; }
#lblYearly { color: #34495E; padding-top: 30px; font-size: 20px; font-family: "PoppinsRegular"; }


/*================ PRICING TABLES ========================*/

.pricing_table {
  background-color: #F9FAFC !important;
}

.pricing_table a.link {
  text-decoration: underline;
}

.pricing_table_pop {
  background-color: #6D60B0 !important;
  height: 360px;
  border-radius: 16px;
  padding: 40px;
  color: #fff;
  text-align: center;
  /*position: relative;*/
  top: -15px;

  -webkit-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.15);

  position: absolute;
  left: -10px;
  right: 0;
  width: 390px;
  z-index: 99;
}

.pricing_table_pop .title {
  font-family: "PoppinsBold";
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px !important; 
}

.pricing_table_pop .price {
  font-family: "PoppinsBold";
  font-size: 44px;
  color: #fff;
  margin-bottom: 10px !important; 
}

.pricing_table_pop .notes {
  font-family: "PoppinsRegular";
  font-size: 16px;
  color: #fff;
  width: 200px;
  margin: auto auto 20px auto;
}

.pricing_table_pop a {
  min-width: 280px !important;
}

.pricing_table_pop a span.x-anchor-content{
  display: unset !important;
  height: 56px !important;
}

.pricing_feature_list {
  /*list-style-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png');*/
  margin: 20px 0px !important;
  text-align: left;
}

.pricing_feature_list li {
    background-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png');
    background-repeat: no-repeat;
    padding: 15px 0px 15px 40px;
    background-position: center left;
    font-family: "PoppinsRegular";
    font-size: 16px;
    color: #34495E;
}

.pricing_feature_list li img {
  margin: 0px 0px 0px 5px !important;
}

.pricing_feature_list i {
  display: none;
}

.pricing_table-popu ul {
  margin: 0px 40px !important; 
}

/*======================= RIBBON =========================*/
.ribbon {
/*  width: 150px;
  height: 150px;*/
  width: 110px;
  height: 110px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  /*border: 5px solid #2980b9;*/
  border: 5px solid #EBA32F;
  
}
.ribbon span {
  position: absolute;
  display: block;
  /*width: 225px;*/
  width: 220px;
  padding: 12px 0;
  /*background-color: #3498db;*/
  background-color: #FEC872;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  /*font: 700 18px/1 'Lato', sans-serif;*/
  font-family: "PoppinsBold";
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
/*  left: -25px;
  top: 30px;*/
  left: -40px;
  top: 17px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

/*========================= PRICING FEATURES =============================*/
.features_table th {
  font-size: 20px;
  padding-bottom: 20px;
}

.features_table th:nth-child(1) {
  width: 50%;
}

.features_table th:nth-child(2),
.features_table th:nth-child(3),
.features_table th:nth-child(4) {
  width: 16.666%;
  text-align: center;
}

.features_table td {
  border-top: 1px solid #DFE2E7 !important;  
}


.features_table tbody tr:nth-child(even){
  background-color: #F9FAFC;
}

.features_table tbody tr:last-child {
  border-bottom: 1px solid #DFE2E7 !important;  
}

.features_table tbody td {
  padding: 20px;
  font-size: 16px;
}


.features_table tbody td:nth-child(1) {
  padding-left: 40px !important;
}

.features_table tbody td:nth-child(2),
.features_table tbody td:nth-child(3),
.features_table tbody td:nth-child(4) {
  text-align: center;
}


/*================== FOOTER =========================*/
.footer_vid {
  width: 530px;
  height: 298px;
  position: relative;
  border-radius: 16px;
}

.list_check {
    list-style-type: none;
    list-style-image: url('//dev2.upviraltest.com/wp-content/uploads/2019/09/tickbox-green@2x.png');
    margin: 0px 0px 0px 30px !important;
}

.list_check li {
  padding: 0px 10px;
  font-family: "PoppinsBold";
  font-size: 28px;
  color: #283848;
}


#inpEmarkySearch {
  font-family: "PoppinsRegular";
  font-size: 20px; 
  max-width: 480px
}

#nav-integrations-tab li a {
  padding: 20px !important;
  font-family: "PoppinsBold";
}

  /*==========  Non-Mobile First Method  ==========*/

  @media only screen and (max-width : 1300px) {

    #div_confused .icon-bubble-frustration { right: 30%; }
    #div_confused .icon-bubble-exclamation { left: 5%; }
    
    .testi-box,
    .testi-box-alt { min-width: 100%; }
  }

  

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
/*    .pointer-1, .pointer-2, .pointer-3 { position: relative; } */

    #div_couch .icon-bubble-heart { left: 32% !important; }
    #div_couch .icon-bubble-star { right: 30% !important; }
  
  }

  @media only screen and (max-width : 1100px) {
    .gs-title { font-size: 50px; padding-left: 10px; }
  }

  @media only screen and (max-width : 1050px) {
    .pointer-1 { top: 330px; }
    .pointer-2 { top: 395px; }
    .pointer-3 { top: 255px; }
    

    #div_couch .icon-bubble-heart { top: 0px !important; }
    #div_couch .icon-bubble-star { top: 0px !important; }
  }

  @media only screen and (max-width : 1024px) {
    
    .pointer-1, .pointer-2, .pointer-3 { border: none; background-color: transparent; }
  }



  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    #monitor_lottie_cont { display: none; }
    
    #testi_block { float: none; width: 100%; }
    #div_guy_chair { float: none; width: 100%; }
    #guy_on_chair { margin: 0 !important; }
    
    #div_confused { float: none; width: 100%; }
    #div_confused_text { float: none; width: 100%; }
    
    .purp-box { left: 0px; }
    .purp-box-r { right: 0px; bottom: 90px}
    
    .pointer-1, .pointer-2, .pointer-3 { display: none; }
/*     
    .pointer-1, .pointer-2, .pointer-3 { border: none; background-color: transparent; }
    .pointer-1:before, .pointer-2:before, .pointer-3:before { height: 300px; top: 0px; } */
  }

  @media only screen and (max-width : 992px) {
    #bottom_testi .testi-box { margin-top: 0px; margin-right: 0px; }
    .gs-num { font-size: 100px; }
  }
  
  @media only screen and (max-width : 820px) {
    .gs-num { font-size: 92px; }
    .gs-title { font-size: 46px; }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .pointer-1, .pointer-2, .pointer-3 { display: none; }
    
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 700px) {
    #div_confused .icon-bubble-frustration { right: 10%; }
    #div_confused .icon-bubble-exclamation { left: 0; top: 0; }
  }

  @media only screen and (max-width : 590px) {
    .btn-primary-1, .btn-primary-2 {
      margin: 10px !important;
    }
    #bottom_testi .testi-box { width: 100% !important; }
    
    #div_couch .icon-bubble-heart { top: -50px !important; left: 22% !important;}
    #div_couch .icon-bubble-star { top: -50px !important; right: 22% !important;}
  }



  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {

  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    
  }