/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #333;
	background: #fff;
	font: 16px/1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: .4em .7em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #333;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #999;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.x-breadcrumb-wrap a:hover,
.widget ul li a:hover,
.widget ol li a:hover,
.widget.widget_text ul li a,
.widget.widget_text ol li a,
.widget_nav_menu .current-menu-item > a,
.x-accordion-heading .x-accordion-toggle:hover,
.x-comment-author a:hover,
.x-comment-time:hover,
.x-recent-posts a:hover .h-recent-posts {
	color: #ff2a13;
}

a:hover,
.widget.widget_text ul li a:hover,
.widget.widget_text ol li a:hover,
.x-twitter-widget ul li a:hover {
	color: #d80f0f;
}

.rev_slider_wrapper,
a.x-img-thumbnail:hover,
.x-slider-container.below,
.page-template-template-blank-3-php .x-slider-container.above,
.page-template-template-blank-6-php .x-slider-container.above {
	border-color: #ff2a13;
}

.entry-thumb:before,
.x-pagination span.current,
.flex-direction-nav a,
.flex-control-nav a:hover,
.flex-control-nav a.flex-active,
.mejs-time-current,
.x-dropcap,
.x-skill-bar .bar,
.x-pricing-column.featured h2,
.h-comments-title small,
.x-entry-share .x-share:hover,
.x-highlight,
.x-recent-posts .x-recent-posts-img:after {
	background-color: #ff2a13;
}

.x-nav-tabs > .active > a,
.x-nav-tabs > .active > a:hover {
	box-shadow: inset 0 3px 0 0 #ff2a13;
}

.x-main {
	width: 69.536945%;
}

.x-sidebar {
	width: 25.536945%;
}

.x-comment-author,
.x-comment-time,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-rating label,
.comment-form-comment label,
.widget_calendar #wp-calendar caption,
.widget.widget_rss li .rsswidget {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

.p-landmark-sub,
.p-meta,
input,
button,
select,
textarea {
	font-family: "Poppins", sans-serif;
}

.widget ul li a,
.widget ol li a,
.x-comment-time {
	color: #34495e;
}

.widget_text ol li a,
.widget_text ul li a {
	color: #ff2a13;
}

.widget_text ol li a:hover,
.widget_text ul li a:hover {
	color: #d80f0f;
}

.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-rating label,
.comment-form-comment label,
.widget_calendar #wp-calendar th,
.p-landmark-sub strong,
.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active,
.entry-footer a:hover,
.entry-footer a:active,
.x-breadcrumbs .current,
.x-comment-author,
.x-comment-author a {
	color: #283848;
}

.widget_calendar #wp-calendar th {
	border-color: #283848;
}

.h-feature-headline span i {
	background-color: #283848;
}

html {
	font-size: 14px;
}

body {
	font-style: normal;
	font-weight: 400;
	color: #34495e;
	background-color: white;
}

.w-b {
	font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 700;
}

h1,
.h1 {
	letter-spacing: -.035em;
}

h2,
.h2 {
	letter-spacing: -.035em;
}

h3,
.h3 {
	letter-spacing: -.035em;
}

h4,
.h4 {
	letter-spacing: -.035em;
}

h5,
.h5 {
	letter-spacing: -.035em;
}

h6,
.h6 {
	letter-spacing: -.035em;
}

.w-h {
	font-weight: 700 !important;
}

.x-container.width {
	width: 88%;
}

.x-container.max {
	max-width: 1200px;
}

.x-main.full {
	float: none;
	display: block;
	width: auto;
}

.entry-header,
.entry-content {
	font-size: 1rem;
}

body,
input,
button,
select,
textarea {
	font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
blockquote {
	color: #283848;
}

.cfc-h-tx {
	color: #283848 !important;
}

.cfc-h-bd {
	border-color: #283848 !important;
}

.cfc-h-bg {
	background-color: #283848 !important;
}

.cfc-b-tx {
	color: #34495e !important;
}

.cfc-b-bd {
	border-color: #34495e !important;
}

.cfc-b-bg {
	background-color: #34495e !important;
}

.x-btn,
.button,
[type="submit"] {
	color: #fff;
	border-color: #ac1100;
	background-color: #ff2a13;
	margin-bottom: .25em;
	text-shadow: 0 .075em .075em rgba(0, 0, 0, .5);
	box-shadow: 0 .25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, .75);
	border-radius: .25em;
}

.x-btn:hover,
.button:hover,
[type="submit"]:hover {
	color: #fff;
	border-color: #600900;
	background-color: #ef2201;
	margin-bottom: .25em;
	text-shadow: 0 .075em .075em rgba(0, 0, 0, .5);
	box-shadow: 0 .25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, .75);
}

.x-btn.x-btn-real,
.x-btn.x-btn-real:hover {
	margin-bottom: .25em;
	text-shadow: 0 .075em .075em rgba(0, 0, 0, .65);
}

.x-btn.x-btn-real {
	box-shadow: 0 .25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, .75);
}

.x-btn.x-btn-real:hover {
	box-shadow: 0 .25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, .75);
}

.x-btn.x-btn-flat,
.x-btn.x-btn-flat:hover {
	margin-bottom: 0;
	text-shadow: 0 .075em .075em rgba(0, 0, 0, .65);
	box-shadow: none;
}

.x-btn.x-btn-transparent,
.x-btn.x-btn-transparent:hover {
	margin-bottom: 0;
	border-width: 3px;
	text-shadow: none;
	text-transform: uppercase;
	background-color: transparent;
	box-shadow: none;
}

.x-topbar .p-info a:hover,
.x-widgetbar .widget ul li a:hover {
	color: #ff2a13;
}

.x-topbar .p-info,
.x-topbar .p-info a,
.x-navbar .desktop .x-nav > li > a,
.x-navbar .desktop .sub-menu a,
.x-navbar .mobile .x-nav li > a,
.x-breadcrumb-wrap a,
.x-breadcrumbs .delimiter {
	color: #999;
}

.x-navbar .desktop .x-nav > li > a:hover,
.x-navbar .desktop .x-nav > .x-active > a,
.x-navbar .desktop .x-nav > .current-menu-item > a,
.x-navbar .desktop .sub-menu a:hover,
.x-navbar .desktop .sub-menu .x-active > a,
.x-navbar .desktop .sub-menu .current-menu-item > a,
.x-navbar .desktop .x-nav .x-megamenu > .sub-menu > li > a,
.x-navbar .mobile .x-nav li > a:hover,
.x-navbar .mobile .x-nav .x-active > a,
.x-navbar .mobile .x-nav .current-menu-item > a {
	color: #272727;
}

.x-navbar .desktop .x-nav > li > a:hover,
.x-navbar .desktop .x-nav > .x-active > a,
.x-navbar .desktop .x-nav > .current-menu-item > a {
	box-shadow: inset 0 4px 0 0 #ff2a13;
}

.x-navbar .desktop .x-nav > li > a {
	height: 90px;
	padding-top: 37px;
}

.x-navbar-fixed-top-active .x-navbar-wrap {
	margin-bottom: 1px;
}

.x-navbar .desktop .x-nav > li ul {
	top: 75px;
}

.x-btn-widgetbar {
	border-top-color: #000;
	border-right-color: #000;
}

.x-btn-widgetbar:hover {
	border-top-color: #444;
	border-right-color: #444;
}

body.x-navbar-fixed-top-active .x-navbar-wrap {
	height: 90px;
}

.x-navbar-inner {
	min-height: 90px;
}

.x-brand {
	margin-top: 22px;
	font-family: "Poppins", sans-serif;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -.035em;
	color: #272727;
}

.x-brand:hover,
.x-brand:focus {
	color: #272727;
}

.x-brand img {
	width: 86px;
}

.x-navbar .x-nav-wrap .x-nav > li > a {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: .085em;
	text-transform: uppercase;
}

.x-navbar .desktop .x-nav > li > a {
	font-size: 13px;
}

.x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
	padding-left: 20px;
	padding-right: 20px;
}

.x-navbar .desktop .x-nav > li > a > span {
	margin-right: -.085em;
}

.x-btn-navbar {
	margin-top: 20px;
}

.x-btn-navbar,
.x-btn-navbar.collapsed {
	font-size: 24px;
}

.e93-127.x-anchor {
	margin: 0 5px 0 5px;
}

.e93-128.x-anchor {
	margin: 0 5px 0 5px;
}

.e93-11.x-anchor {
	border-radius: 36px 36px 36px 36px;
	background-color: #1bbcbd;
}

.e93-12.x-anchor,
.e93-38.x-anchor,
.e93-44.x-anchor,
.e93-50.x-anchor,
.e93-127.x-anchor,
.e93-128.x-anchor,
.e93-153.x-anchor,
.e93-192.x-anchor,
.e93-199.x-anchor {
	border-radius: .35em;
	background-color: white;
}

.e93-11.x-anchor,
.e93-12.x-anchor,
.e93-38.x-anchor,
.e93-44.x-anchor,
.e93-50.x-anchor,
.e93-127.x-anchor,
.e93-128.x-anchor,
.e93-153.x-anchor,
.e93-192.x-anchor,
.e93-199.x-anchor {
	font-size: 1em;
	box-shadow: 0 .15em .65em 0 rgba(0, 0, 0, .25);
}

.e93-11.x-anchor .x-anchor-content,
.e93-12.x-anchor .x-anchor-content,
.e93-38.x-anchor .x-anchor-content,
.e93-44.x-anchor .x-anchor-content,
.e93-50.x-anchor .x-anchor-content,
.e93-127.x-anchor .x-anchor-content,
.e93-128.x-anchor .x-anchor-content,
.e93-153.x-anchor .x-anchor-content,
.e93-192.x-anchor .x-anchor-content,
.e93-199.x-anchor .x-anchor-content {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.e93-153.x-anchor .x-anchor-content,
.e93-192.x-anchor .x-anchor-content {
	padding: 0 20px 0 20px;
}

.e93-11.x-anchor[class*="active"],
.e93-12.x-anchor[class*="active"],
.e93-38.x-anchor[class*="active"],
.e93-44.x-anchor[class*="active"],
.e93-50.x-anchor[class*="active"],
.e93-127.x-anchor[class*="active"],
.e93-128.x-anchor[class*="active"],
.e93-153.x-anchor[class*="active"],
.e93-192.x-anchor[class*="active"],
.e93-199.x-anchor[class*="active"] {
	background-color: white;
	box-shadow: 0 .15em .65em 0 rgba(0, 0, 0, .25);
}

.e93-11.x-anchor .x-anchor-text,
.e93-12.x-anchor .x-anchor-text,
.e93-38.x-anchor .x-anchor-text,
.e93-44.x-anchor .x-anchor-text,
.e93-50.x-anchor .x-anchor-text,
.e93-127.x-anchor .x-anchor-text,
.e93-128.x-anchor .x-anchor-text,
.e93-153.x-anchor .x-anchor-text,
.e93-192.x-anchor .x-anchor-text,
.e93-199.x-anchor .x-anchor-text {
	margin: 5px;
}

.e93-11.x-anchor .x-anchor-text-primary,
.e93-12.x-anchor .x-anchor-text-primary,
.e93-38.x-anchor .x-anchor-text-primary,
.e93-44.x-anchor .x-anchor-text-primary,
.e93-50.x-anchor .x-anchor-text-primary,
.e93-127.x-anchor .x-anchor-text-primary,
.e93-128.x-anchor .x-anchor-text-primary,
.e93-153.x-anchor .x-anchor-text-primary,
.e93-192.x-anchor .x-anchor-text-primary,
.e93-199.x-anchor .x-anchor-text-primary {
	font-family: inherit;
	font-style: normal;
	line-height: 1;
}

.e93-11.x-anchor .x-anchor-text-primary {
	font-size: 16px;
	color: white;
}

.e93-12.x-anchor .x-anchor-text-primary,
.e93-38.x-anchor .x-anchor-text-primary,
.e93-44.x-anchor .x-anchor-text-primary,
.e93-50.x-anchor .x-anchor-text-primary,
.e93-127.x-anchor .x-anchor-text-primary,
.e93-128.x-anchor .x-anchor-text-primary,
.e93-153.x-anchor .x-anchor-text-primary,
.e93-192.x-anchor .x-anchor-text-primary,
.e93-199.x-anchor .x-anchor-text-primary {
	font-size: 1em;
	color: black;
}

.e93-11.x-anchor .x-anchor-text-primary,
.e93-12.x-anchor .x-anchor-text-primary {
	font-weight: 700;
}

.e93-38.x-anchor .x-anchor-text-primary,
.e93-44.x-anchor .x-anchor-text-primary,
.e93-50.x-anchor .x-anchor-text-primary,
.e93-127.x-anchor .x-anchor-text-primary,
.e93-128.x-anchor .x-anchor-text-primary,
.e93-153.x-anchor .x-anchor-text-primary,
.e93-192.x-anchor .x-anchor-text-primary,
.e93-199.x-anchor .x-anchor-text-primary {
	font-weight: 400;
}

.e93-199.x-anchor .x-anchor-text-primary {
	letter-spacing: .1em;
	margin-right: calc(.1em * -1);
}

.e93-11.x-anchor .x-anchor-text-primary,
.e93-153.x-anchor .x-anchor-text-primary,
.e93-192.x-anchor .x-anchor-text-primary,
.e93-199.x-anchor .x-anchor-text-primary {
	text-transform: uppercase;
}

.e93-11.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-12.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-38.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-44.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-50.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-127.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-128.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-153.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-192.x-anchor[class*="active"] .x-anchor-text-primary,
.e93-199.x-anchor[class*="active"] .x-anchor-text-primary {
	color: rgba(0, 0, 0, .5);
}

.e93-85.x-column {
	border-radius: 0 16px 16px 16px;
}

.e93-19.x-column,
.e93-83.x-column {
	padding: 0 0 0 45px;
}

.e93-60.x-column {
	padding: 54px 75px 0 0;
}

.e93-134.x-column,
.e93-175.x-column {
	padding: 50px 0 0 0;
}

.e93-182.x-column,
.e93-184.x-column {
	padding: 0 10px 0 10px;
}

.e93-23.x-column,
.e93-33.x-column,
.e93-39.x-column,
.e93-45.x-column,
.e93-57.x-column,
.e93-68.x-column,
.e93-78.x-column,
.e93-85.x-column,
.e93-125.x-column,
.e93-134.x-column,
.e93-150.x-column,
.e93-175.x-column,
.e93-197.x-column {
	text-align: center;
}

.e93-3.x-column,
.e93-6.x-column,
.e93-14.x-column,
.e93-19.x-column,
.e93-23.x-column,
.e93-29.x-column,
.e93-33.x-column,
.e93-39.x-column,
.e93-45.x-column,
.e93-53.x-column,
.e93-57.x-column,
.e93-60.x-column,
.e93-64.x-column,
.e93-68.x-column,
.e93-74.x-column,
.e93-78.x-column,
.e93-83.x-column,
.e93-85.x-column,
.e93-90.x-column,
.e93-93.x-column,
.e93-96.x-column,
.e93-99.x-column,
.e93-102.x-column,
.e93-105.x-column,
.e93-109.x-column,
.e93-112.x-column,
.e93-115.x-column,
.e93-118.x-column,
.e93-121.x-column,
.e93-125.x-column,
.e93-131.x-column,
.e93-134.x-column,
.e93-140.x-column,
.e93-144.x-column,
.e93-146.x-column,
.e93-150.x-column,
.e93-158.x-column,
.e93-162.x-column,
.e93-165.x-column,
.e93-168.x-column,
.e93-172.x-column,
.e93-175.x-column,
.e93-178.x-column,
.e93-182.x-column,
.e93-184.x-column,
.e93-187.x-column,
.e93-195.x-column,
.e93-197.x-column,
.e93-201.x-column,
.e93-202.x-column,
.e93-204.x-column {
	background-color: transparent;
	z-index: 1;
}

.e93-10.x-line,
.e93-37.x-line,
.e93-43.x-line,
.e93-49.x-line,
.e93-94.x-line,
.e93-110.x-line,
.e93-152.x-line,
.e93-191.x-line {
	height: 25px;
}

.e93-15.x-line,
.e93-25.x-line {
	height: 80px;
}

.e93-31.x-line,
.e93-198.x-line {
	height: 100px;
}

.e93-35.x-line,
.e93-41.x-line,
.e93-47.x-line,
.e93-55.x-line,
.e93-66.x-line,
.e93-126.x-line,
.e93-142.x-line {
	height: 50px;
}

.e93-75.x-line,
.e93-79.x-line,
.e93-81.x-line {
	height: 65px;
}

.e93-154.x-line,
.e93-160.x-line,
.e93-180.x-line {
	height: 40px;
}

.e93-173.x-line {
	height: 30px;
}

.e93-7.x-text,
.e93-30.x-text,
.e93-36.x-text,
.e93-42.x-text,
.e93-48.x-text,
.e93-54.x-text,
.e93-65.x-text,
.e93-76.x-text,
.e93-91.x-text,
.e93-98.x-text,
.e93-101.x-text,
.e93-104.x-text,
.e93-107.x-text,
.e93-114.x-text,
.e93-117.x-text,
.e93-120.x-text,
.e93-123.x-text,
.e93-132.x-text,
.e93-141.x-text,
.e93-151.x-text,
.e93-159.x-text,
.e93-163.x-text,
.e93-166.x-text,
.e93-169.x-text,
.e93-179.x-text,
.e93-196.x-text {
	margin: 0;
	font-size: 1em;
	background-color: transparent;
}

.e93-7.x-text,
.e93-30.x-text,
.e93-36.x-text,
.e93-42.x-text,
.e93-48.x-text,
.e93-54.x-text,
.e93-65.x-text,
.e93-76.x-text,
.e93-91.x-text,
.e93-98.x-text,
.e93-101.x-text,
.e93-104.x-text,
.e93-107.x-text,
.e93-114.x-text,
.e93-117.x-text,
.e93-120.x-text,
.e93-123.x-text,
.e93-132.x-text,
.e93-141.x-text,
.e93-151.x-text,
.e93-159.x-text,
.e93-163.x-text,
.e93-166.x-text,
.e93-169.x-text,
.e93-179.x-text {
	padding: 0;
}

.e93-196.x-text {
	padding: 30px 0 0 100px;
}

.e93-7.x-text .x-text-content-text-primary,
.e93-30.x-text .x-text-content-text-primary,
.e93-36.x-text .x-text-content-text-primary,
.e93-42.x-text .x-text-content-text-primary,
.e93-48.x-text .x-text-content-text-primary,
.e93-54.x-text .x-text-content-text-primary,
.e93-65.x-text .x-text-content-text-primary,
.e93-76.x-text .x-text-content-text-primary,
.e93-91.x-text .x-text-content-text-primary,
.e93-98.x-text .x-text-content-text-primary,
.e93-101.x-text .x-text-content-text-primary,
.e93-104.x-text .x-text-content-text-primary,
.e93-107.x-text .x-text-content-text-primary,
.e93-114.x-text .x-text-content-text-primary,
.e93-117.x-text .x-text-content-text-primary,
.e93-120.x-text .x-text-content-text-primary,
.e93-123.x-text .x-text-content-text-primary,
.e93-132.x-text .x-text-content-text-primary,
.e93-141.x-text .x-text-content-text-primary,
.e93-151.x-text .x-text-content-text-primary,
.e93-159.x-text .x-text-content-text-primary,
.e93-163.x-text .x-text-content-text-primary,
.e93-166.x-text .x-text-content-text-primary,
.e93-169.x-text .x-text-content-text-primary,
.e93-179.x-text .x-text-content-text-primary,
.e93-196.x-text .x-text-content-text-primary {
	margin: 0 calc(0em * -1) 0 0;
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: none;
}

.e93-7.x-text .x-text-content-text-primary {
	font-size: 72px;
	line-height: 1;
}

.e93-30.x-text .x-text-content-text-primary,
.e93-54.x-text .x-text-content-text-primary,
.e93-65.x-text .x-text-content-text-primary,
.e93-76.x-text .x-text-content-text-primary,
.e93-91.x-text .x-text-content-text-primary,
.e93-132.x-text .x-text-content-text-primary,
.e93-141.x-text .x-text-content-text-primary,
.e93-151.x-text .x-text-content-text-primary,
.e93-159.x-text .x-text-content-text-primary,
.e93-179.x-text .x-text-content-text-primary {
	font-size: 66px;
}

.e93-36.x-text .x-text-content-text-primary,
.e93-42.x-text .x-text-content-text-primary,
.e93-48.x-text .x-text-content-text-primary,
.e93-98.x-text .x-text-content-text-primary,
.e93-101.x-text .x-text-content-text-primary,
.e93-104.x-text .x-text-content-text-primary,
.e93-107.x-text .x-text-content-text-primary,
.e93-114.x-text .x-text-content-text-primary,
.e93-117.x-text .x-text-content-text-primary,
.e93-120.x-text .x-text-content-text-primary,
.e93-123.x-text .x-text-content-text-primary,
.e93-163.x-text .x-text-content-text-primary,
.e93-166.x-text .x-text-content-text-primary,
.e93-169.x-text .x-text-content-text-primary {
	font-size: 28px;
}

.e93-196.x-text .x-text-content-text-primary {
	font-size: 44px;
	text-align: left;
	color: white;
}

.e93-30.x-text .x-text-content-text-primary,
.e93-36.x-text .x-text-content-text-primary,
.e93-42.x-text .x-text-content-text-primary,
.e93-48.x-text .x-text-content-text-primary,
.e93-54.x-text .x-text-content-text-primary,
.e93-65.x-text .x-text-content-text-primary,
.e93-76.x-text .x-text-content-text-primary,
.e93-91.x-text .x-text-content-text-primary,
.e93-98.x-text .x-text-content-text-primary,
.e93-101.x-text .x-text-content-text-primary,
.e93-104.x-text .x-text-content-text-primary,
.e93-107.x-text .x-text-content-text-primary,
.e93-114.x-text .x-text-content-text-primary,
.e93-117.x-text .x-text-content-text-primary,
.e93-120.x-text .x-text-content-text-primary,
.e93-123.x-text .x-text-content-text-primary,
.e93-132.x-text .x-text-content-text-primary,
.e93-141.x-text .x-text-content-text-primary,
.e93-151.x-text .x-text-content-text-primary,
.e93-159.x-text .x-text-content-text-primary,
.e93-163.x-text .x-text-content-text-primary,
.e93-166.x-text .x-text-content-text-primary,
.e93-169.x-text .x-text-content-text-primary,
.e93-179.x-text .x-text-content-text-primary,
.e93-196.x-text .x-text-content-text-primary {
	line-height: 1.4;
}

.e93-30.x-text .x-text-content-text-primary,
.e93-36.x-text .x-text-content-text-primary,
.e93-42.x-text .x-text-content-text-primary,
.e93-48.x-text .x-text-content-text-primary,
.e93-54.x-text .x-text-content-text-primary,
.e93-65.x-text .x-text-content-text-primary,
.e93-76.x-text .x-text-content-text-primary,
.e93-91.x-text .x-text-content-text-primary,
.e93-98.x-text .x-text-content-text-primary,
.e93-101.x-text .x-text-content-text-primary,
.e93-104.x-text .x-text-content-text-primary,
.e93-107.x-text .x-text-content-text-primary,
.e93-114.x-text .x-text-content-text-primary,
.e93-117.x-text .x-text-content-text-primary,
.e93-120.x-text .x-text-content-text-primary,
.e93-123.x-text .x-text-content-text-primary,
.e93-132.x-text .x-text-content-text-primary,
.e93-141.x-text .x-text-content-text-primary,
.e93-151.x-text .x-text-content-text-primary,
.e93-159.x-text .x-text-content-text-primary,
.e93-163.x-text .x-text-content-text-primary,
.e93-166.x-text .x-text-content-text-primary,
.e93-169.x-text .x-text-content-text-primary,
.e93-179.x-text .x-text-content-text-primary {
	text-align: center;
}

.e93-7.x-text .x-text-content-text-primary,
.e93-30.x-text .x-text-content-text-primary,
.e93-36.x-text .x-text-content-text-primary,
.e93-42.x-text .x-text-content-text-primary,
.e93-48.x-text .x-text-content-text-primary,
.e93-54.x-text .x-text-content-text-primary,
.e93-65.x-text .x-text-content-text-primary,
.e93-76.x-text .x-text-content-text-primary,
.e93-91.x-text .x-text-content-text-primary,
.e93-98.x-text .x-text-content-text-primary,
.e93-101.x-text .x-text-content-text-primary,
.e93-104.x-text .x-text-content-text-primary,
.e93-107.x-text .x-text-content-text-primary,
.e93-114.x-text .x-text-content-text-primary,
.e93-117.x-text .x-text-content-text-primary,
.e93-120.x-text .x-text-content-text-primary,
.e93-123.x-text .x-text-content-text-primary,
.e93-132.x-text .x-text-content-text-primary,
.e93-141.x-text .x-text-content-text-primary,
.e93-151.x-text .x-text-content-text-primary,
.e93-159.x-text .x-text-content-text-primary,
.e93-163.x-text .x-text-content-text-primary,
.e93-166.x-text .x-text-content-text-primary,
.e93-169.x-text .x-text-content-text-primary,
.e93-179.x-text .x-text-content-text-primary {
	color: #283848;
}

.e93-30.x-text .x-text-content-text-subheadline,
.e93-36.x-text .x-text-content-text-subheadline,
.e93-42.x-text .x-text-content-text-subheadline,
.e93-48.x-text .x-text-content-text-subheadline,
.e93-54.x-text .x-text-content-text-subheadline,
.e93-65.x-text .x-text-content-text-subheadline,
.e93-76.x-text .x-text-content-text-subheadline,
.e93-132.x-text .x-text-content-text-subheadline,
.e93-141.x-text .x-text-content-text-subheadline,
.e93-151.x-text .x-text-content-text-subheadline,
.e93-159.x-text .x-text-content-text-subheadline,
.e93-163.x-text .x-text-content-text-subheadline,
.e93-166.x-text .x-text-content-text-subheadline,
.e93-169.x-text .x-text-content-text-subheadline,
.e93-179.x-text .x-text-content-text-subheadline,
.e93-196.x-text .x-text-content-text-subheadline {
	margin: .35em calc(0em * -1) 0 0;
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0;
	text-transform: none;
}

.e93-30.x-text .x-text-content-text-subheadline,
.e93-54.x-text .x-text-content-text-subheadline,
.e93-65.x-text .x-text-content-text-subheadline,
.e93-76.x-text .x-text-content-text-subheadline,
.e93-132.x-text .x-text-content-text-subheadline,
.e93-141.x-text .x-text-content-text-subheadline,
.e93-151.x-text .x-text-content-text-subheadline,
.e93-159.x-text .x-text-content-text-subheadline,
.e93-179.x-text .x-text-content-text-subheadline,
.e93-196.x-text .x-text-content-text-subheadline {
	font-size: 20px;
}

.e93-36.x-text .x-text-content-text-subheadline,
.e93-42.x-text .x-text-content-text-subheadline,
.e93-48.x-text .x-text-content-text-subheadline,
.e93-163.x-text .x-text-content-text-subheadline,
.e93-166.x-text .x-text-content-text-subheadline,
.e93-169.x-text .x-text-content-text-subheadline {
	font-size: 16px;
}

.e93-30.x-text .x-text-content-text-subheadline,
.e93-54.x-text .x-text-content-text-subheadline,
.e93-65.x-text .x-text-content-text-subheadline,
.e93-76.x-text .x-text-content-text-subheadline,
.e93-132.x-text .x-text-content-text-subheadline,
.e93-141.x-text .x-text-content-text-subheadline,
.e93-151.x-text .x-text-content-text-subheadline,
.e93-159.x-text .x-text-content-text-subheadline,
.e93-163.x-text .x-text-content-text-subheadline,
.e93-166.x-text .x-text-content-text-subheadline,
.e93-169.x-text .x-text-content-text-subheadline,
.e93-179.x-text .x-text-content-text-subheadline {
	text-align: center;
}

.e93-30.x-text .x-text-content-text-subheadline,
.e93-36.x-text .x-text-content-text-subheadline,
.e93-42.x-text .x-text-content-text-subheadline,
.e93-48.x-text .x-text-content-text-subheadline,
.e93-54.x-text .x-text-content-text-subheadline,
.e93-65.x-text .x-text-content-text-subheadline,
.e93-76.x-text .x-text-content-text-subheadline,
.e93-132.x-text .x-text-content-text-subheadline,
.e93-141.x-text .x-text-content-text-subheadline,
.e93-151.x-text .x-text-content-text-subheadline,
.e93-159.x-text .x-text-content-text-subheadline,
.e93-163.x-text .x-text-content-text-subheadline,
.e93-166.x-text .x-text-content-text-subheadline,
.e93-169.x-text .x-text-content-text-subheadline,
.e93-179.x-text .x-text-content-text-subheadline {
	color: #34495e;
}

.e93-196.x-text .x-text-content-text-subheadline {
	color: white;
}

.e93-26.x-image {
	margin: 0 0 0 -100px;
}

.e93-97.x-image,
.e93-100.x-image,
.e93-103.x-image,
.e93-106.x-image,
.e93-113.x-image,
.e93-116.x-image,
.e93-119.x-image,
.e93-122.x-image {
	margin: 0 0 20px 0;
}

.e93-16.x-image,
.e93-26.x-image,
.e93-59.x-image,
.e93-80.x-image,
.e93-87.x-image,
.e93-97.x-image,
.e93-100.x-image,
.e93-103.x-image,
.e93-106.x-image,
.e93-113.x-image,
.e93-116.x-image,
.e93-119.x-image,
.e93-122.x-image,
.e93-136.x-image,
.e93-155.x-image,
.e93-189.x-image {
	background-color: transparent;
}

.e93-2.x-container,
.e93-5.x-container,
.e93-13.x-container,
.e93-18.x-container,
.e93-28.x-container,
.e93-32.x-container,
.e93-52.x-container,
.e93-56.x-container,
.e93-63.x-container,
.e93-67.x-container,
.e93-73.x-container,
.e93-77.x-container,
.e93-82.x-container,
.e93-89.x-container,
.e93-92.x-container,
.e93-95.x-container,
.e93-108.x-container,
.e93-111.x-container,
.e93-124.x-container,
.e93-130.x-container,
.e93-133.x-container,
.e93-139.x-container,
.e93-143.x-container,
.e93-149.x-container,
.e93-157.x-container,
.e93-161.x-container,
.e93-171.x-container,
.e93-174.x-container,
.e93-177.x-container,
.e93-181.x-container,
.e93-186.x-container,
.e93-194.x-container,
.e93-200.x-container {
	margin: 0 auto 0 auto;
	background-color: transparent;
}

.e93-194.x-container {
	padding: 55px 0 0 0;
}

.e93-13.x-container,
.e93-95.x-container,
.e93-111.x-container,
.e93-161.x-container,
.e93-186.x-container {
	text-align: center;
}

.e93-2.x-container,
.e93-5.x-container,
.e93-13.x-container,
.e93-18.x-container,
.e93-28.x-container,
.e93-32.x-container,
.e93-52.x-container,
.e93-56.x-container,
.e93-63.x-container,
.e93-67.x-container,
.e93-73.x-container,
.e93-77.x-container,
.e93-82.x-container,
.e93-89.x-container,
.e93-92.x-container,
.e93-95.x-container,
.e93-108.x-container,
.e93-111.x-container,
.e93-124.x-container,
.e93-130.x-container,
.e93-133.x-container,
.e93-139.x-container,
.e93-143.x-container,
.e93-149.x-container,
.e93-157.x-container,
.e93-171.x-container,
.e93-174.x-container,
.e93-177.x-container,
.e93-181.x-container,
.e93-186.x-container,
.e93-194.x-container,
.e93-200.x-container {
	z-index: 1;
}

.e93-161.x-container {
	z-index: 10;
}

.e93-1.x-section,
.e93-4.x-section,
.e93-17.x-section,
.e93-27.x-section,
.e93-51.x-section,
.e93-62.x-section,
.e93-72.x-section,
.e93-88.x-section,
.e93-129.x-section,
.e93-138.x-section,
.e93-148.x-section,
.e93-156.x-section,
.e93-176.x-section,
.e93-193.x-section {
	margin: 0;
	background-color: transparent;
	z-index: 1;
}

.e93-1.x-section {
	padding: 100px 0 100px 0;
}

.e93-4.x-section {
	padding: 50px 0 50px 0;
}

.e93-17.x-section,
.e93-72.x-section {
	padding: 60px 0 45px 0;
}

.e93-27.x-section,
.e93-51.x-section,
.e93-62.x-section,
.e93-88.x-section,
.e93-129.x-section,
.e93-138.x-section,
.e93-148.x-section,
.e93-156.x-section,
.e93-176.x-section,
.e93-193.x-section {
	padding: 45px 0 45px 0;
}

.e93-8.x-text {
	margin: 20px 0 0 0;
}

.e93-61.x-text,
.e93-86.x-text,
.e93-190.x-text {
	margin: 0;
}

.e93-86.x-text {
	border-radius: 16px 16px 16px 16px;
	padding: 46px 32px 190px 32px;
	background-color: #f9fafc;
}

.e93-8.x-text,
.e93-61.x-text,
.e93-190.x-text {
	padding: 0;
	background-color: transparent;
}

.e93-8.x-text,
.e93-61.x-text,
.e93-86.x-text,
.e93-190.x-text {
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0;
	text-transform: none;
	color: #34495e;
}

.e93-8.x-text,
.e93-190.x-text {
	font-size: 20px;
}

.e93-61.x-text,
.e93-86.x-text {
	font-size: 16px;
}

.e93-8.x-text > :first-child,
.e93-61.x-text > :first-child,
.e93-86.x-text > :first-child,
.e93-190.x-text > :first-child {
	margin-top: 0;
}

.e93-8.x-text > :last-child,
.e93-61.x-text > :last-child,
.e93-86.x-text > :last-child,
.e93-190.x-text > :last-child {
	margin-bottom: 0;
}

.e93-175 {
	min-height: 540px;
}

.e93-30 p {
	margin-bottom: 20px;
}

.e93-36 p {
	margin-bottom: 10px;
}

.e93-42 p {
	margin-bottom: 10px;
}

.e93-48 p {
	margin-bottom: 10px;
}

.e93-54 p {
	margin-bottom: 20px;
}

.e93-65 p {
	margin-bottom: 20px;
}

.e93-76 p {
	margin-bottom: 20px;
}

.e93-91 p {
	margin-bottom: 20px;
}

.e93-98 p {
	margin-bottom: 10px;
}

.e93-101 p {
	margin-bottom: 10px;
}

.e93-104 p {
	margin-bottom: 10px;
}

.e93-107 p {
	margin-bottom: 10px;
}

.e93-114 p {
	margin-bottom: 10px;
}

.e93-117 p {
	margin-bottom: 10px;
}

.e93-120 p {
	margin-bottom: 10px;
}

.e93-123 p {
	margin-bottom: 10px;
}

.e93-132 p {
	margin-bottom: 20px;
}

.e93-141 p {
	margin-bottom: 20px;
}

.e93-151 p {
	margin-bottom: 20px;
}

.e93-159 p {
	margin-bottom: 20px;
}

.e93-163 p {
	margin-bottom: 20px;
}

.e93-166 p {
	margin-bottom: 20px;
}

.e93-169 p {
	margin-bottom: 20px;
}

.e93-179 p {
	margin-bottom: 20px;
}

.e93-196 p {
	margin-bottom: 20px;
}

.e93-87 {
	position: relative;
	z-index: 1;
	top: -190px;
}

.e93-194 {
	min-height: 384px;
}

.x-navbar .desktop .x-nav > li > a:hover,
.x-navbar .desktop .x-nav > .x-active > a,
.x-navbar .desktop .x-nav > .current-menu-item > a {
	box-shadow: none !important;
}

#menu-main li:last-child > a > span {
	background: #1bbcbd;
	padding: 10px 27px;
	margin-top: -10px;
	color: #fff;
	border-radius: 34px;
}

#monitor_lottie_cont {
	position: absolute;
	width: 520px;
	right: 0;
	bottom: 0;
}

#anim_viral_sweeps,
#anim_viral_rewards,
#anim_viral_waitlists {
	width: 200px;
	height: 280px;
	margin: 0 auto;
}

.testi-box {
	background: #f9fafc;
	min-height: 224px;
	min-width: 522px;
	width: 100%;
	z-index: -1;
	padding: 35px 72px;
	border-radius: 16px;
	font-size: 18px;
	color: #34495e;
	margin-bottom: 40px;
	position: relative;
}

.testi-box img {
	width: 96px;
	height: 96px;
	position: absolute;
	left: -46px;
	top: 20px;
}

.testi-box .testi-author {
	font-size: 14px;
	color: #34495e;
}

.testi-box-alt {
	background: #6d60b0;
	min-height: 224px;
	min-width: 522px;
	width: 100%;
	z-index: -1;
	padding: 35px 72px;
	border-radius: 16px;
	font-size: 18px;
	color: #fff;
	margin-bottom: 40px;
	position: relative;
}

.testi-box-alt img {
	width: 96px;
	height: 96px;
	position: absolute;
	left: -46px;
	top: 20px;
}

.testi-box-alt .testi-author {
	font-size: 14px;
	color: #fff;
}

.purp-box {
	background: #6d60b0;
	width: 370px;
	z-index: 1;
	padding: 32px;
	border-radius: 16px;
	font-size: 18px;
	color: #fff;
	margin-bottom: 40px;
	position: absolute;
	text-align: left;
	left: 100px;
}

.purp-box > div.pointer {
	width: 88px;
	height: 88px;
	position: absolute;
	border: 4px solid #6d60b0;
	border-radius: 100%;
	right: -158px;
	top: 46px;
	background-color: rgba(109, 96, 176, .3);
}

.purp-box > div.pointer:before {
	content: "";
	width: 100%;
	border-bottom: solid 4px #6d60b0;
	position: absolute;
	left: -80px;
	top: 50%;
	z-index: 1;
}

.purp-box-r {
	background: #6d60b0;
	width: 370px;
	z-index: 1;
	padding: 32px;
	border-radius: 16px;
	font-size: 18px;
	color: #fff;
	margin-bottom: 40px;
	position: absolute;
	text-align: left;
	right: 100px;
	bottom: 132px;
}

.purp-box-r > div.pointer {
	width: 88px;
	height: 88px;
	position: absolute;
	border: 4px solid #6d60b0;
	border-radius: 100%;
	left: -158px;
	top: 46px;
	background-color: rgba(109, 96, 176, .3);
}

.purp-box-r > div.pointer:before {
	content: "";
	width: 100%;
	border-bottom: solid 4px #6d60b0;
	position: absolute;
	left: 80px;
	top: 50%;
	z-index: 1;
}

.pointer-1 {
	width: 88px;
	height: 88px;
	position: absolute;
	border: 4px solid #6d60b0;
	border-radius: 100%;
	left: 35%;
	top: 260px;
	background-color: rgba(109, 96, 176, .3);
	z-index: 2;
}

.pointer-1:before {
	content: "";
	border-right: solid 4px #6d60b0;
	position: absolute;
	left: 50%;
	top: -125px;
	z-index: 3;
	height: 122px;
}

.pointer-2 {
	width: 88px;
	height: 88px;
	position: absolute;
	border: 4px solid #6d60b0;
	border-radius: 100%;
	left: 35%;
	top: 342px;
	background-color: rgba(109, 96, 176, .3);
	z-index: 2;
}

.pointer-2:before {
	content: "";
	border-right: solid 4px #6d60b0;
	position: absolute;
	left: 50%;
	top: -188px;
	z-index: 3;
	height: 185px;
}

.pointer-3 {
	width: 88px;
	height: 88px;
	position: absolute;
	border: 4px solid #6d60b0;
	border-radius: 100%;
	left: 35%;
	top: 200px;
	background-color: rgba(109, 96, 176, .3);
	z-index: 2;
}

.pointer-3:before {
	content: "";
	border-right: solid 4px #6d60b0;
	position: absolute;
	left: 50%;
	top: -50px;
	z-index: 3;
	height: 50px;
}

.heart_icon {
	margin-top: -10px;
	margin-bottom: 0;
}

.btn-primary-1 {
	min-width: 240px;
	background-color: #1bbcbd !important;
	text-transform: uppercase;
	text-align: center;
	border-radius: 36px !important;
	padding: 20px !important;
	box-shadow: none !important;
	height: 64px;
}

.btn-primary-1 .x-anchor-text-primary {
	color: #fff !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.btn-primary-2 {
	min-width: 240px;
	background-color: #ddf5f5 !important;
	text-transform: uppercase;
	text-align: center;
	border-radius: 36px !important;
	padding: 20px !important;
	box-shadow: none !important;
	height: 64px;
}

.btn-primary-2 .x-anchor-text-primary {
	color: #1bbcbd !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.btn-small {
	min-width: 200px !important;
	height: 56px !important;
	padding: 15px !important;
}

.btn-large {
	min-width: 240px !important;
	height: 72px !important;
	padding: 25px !important;
}

.margin-left-10 {
	margin-left: 10px !important;
}

.margin-left-15 {
	margin-left: 15px !important;
}

.no-margins {
	margin: 0 !important;
}

.top-145 {
	top: 145px;
}

.font-color-1 {
	color: #283848 !important;
}

.font-color-2 {
	color: #34495e !important;
}

.font-color-3 {
	color: #1bbcbd !important;
}

.font-color-4 {
	color: #6d60b0 !important;
}

.font-16 {
	font-size: 16px !important;
}

.font-18 {
	font-size: 18px !important;
}

.font-28 {
	font-size: 28px !important;
}

.font-44 {
	font-size: 44px !important;
}

.icon-bubble-heart {
	background-image: url("/wp-content/uploads/2019/04/heart-in-bubble-160@2x.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 64px;
	width: 64px;
	position: absolute;
	top: 84px;
	right: 135px;
	z-index: 2;
	clear: both;
}

.icon-bubble-elepsis {
	background-image: url("/wp-content/uploads/2019/04/like-in-bubble-160@2x.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 56px;
	width: 56px;
	position: absolute;
	left: 81px;
	top: 188px;
	z-index: 2;
	clear: both;
}

.icon-bubble-star {
	background-image: url("/wp-content/uploads/2019/04/star-in-bubble-160@2x.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
	position: absolute;
	top: 212px;
	right: 44px;
	z-index: 2;
	clear: both;
}

.icon-bubble-email {
	background-image: url("/wp-content/uploads/2019/04/email-in-bubble-160@2x.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
	position: absolute;
	left: 38px;
	top: 306px;
	z-index: 2;
	clear: both;
}

.icon-bubble-frustration {
	background-image: url("/wp-content/uploads/2019/04/frustration-in-bubble-160@2x.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 120px;
	width: 120px;
	position: absolute;
	right: 265px;
	top: 0;
	z-index: 2;
	clear: both;
}

.icon-bubble-exclamation {
	background-image: url("/wp-content/uploads/2019/04/exclamation-in-bubble-160@2x.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 120px;
	width: 120px;
	position: absolute;
	left: 75px;
	top: 58px;
	z-index: 2;
	clear: both;
}

.icon-bubble-heart.size120 {
	height: 120px !important;
	width: 120px !important;
	top: 48px !important;
	left: 394px !important;
}

.icon-bubble-star.size120 {
	height: 120px !important;
	width: 120px !important;
	top: 80px !important;
	right: 378px !important;
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

img.lazy,
iframe.lazy {
	display: none;
}

.carousel-section {
	padding: 30px 0;
}

.carousel-holder {
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
}

.carousel-holder h2 {
	font-size: 40px;
	line-height: 1.1;
	font-weight: bold;
}

.carousel-holder h2 .text-blue {
	color: #0cc;
}

.carousel-holder .btn {
	min-width: 324px;
	position: absolute;
	bottom: 50px;
	left: 12%;
}

.carousel-holder .btn.btn-primary-1.dark {
	background: #435268 !important;
	padding-left: 65px !important;
}

.carousel-holder .btn.btn-primary-1.dark:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../images/matthew.png) no-repeat 50% 50%;
	background-size: cover;
	opacity: .4;
}

.carousel-holder .btn.btn-primary-1.dark .btn-play {
	width: 56px;
	height: 56px;
	background: #fff;
	border-radius: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.carousel-holder .btn.btn-primary-1.dark .btn-play svg {
	display: block;
	width: 14px;
	height: 16px;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	fill: #435268;
}

.carousel-holder .graphic {
	width: 810px;
	position: absolute;
	bottom: 90px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
}

.carousel-holder .graphic img {
	opacity: .6;
}

.owl-carousel {
	padding-bottom: 40px;
}

.owl-carousel .owl-item img {
	width: auto;
	margin: 0 auto;
}

.owl-carousel .owl-item h2 {
	margin-bottom: 30px;
}

.owl-carousel .owl-item .graphic img {
	max-width: none;
}

.owl-carousel .owl-item.next_slide.active h2,
.owl-carousel .owl-item.next_slide.active .btn,
.owl-carousel .owl-item.next_slide.active .graphic {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.owl-carousel .owl-item.prev_slide.active h2,
.owl-carousel .owl-item.prev_slide.active .btn,
.owl-carousel .owl-item.prev_slide.active .graphic {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.owl-carousel .owl-stage {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.owl-carousel .owl-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.owl-carousel .owl-dots .owl-dot {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #e0e0e0;
	margin: 0 7px;
	outline: none;
}

.owl-carousel .owl-dots .owl-dot.active {
	background: #0cc;
}

@media (min-width: 480px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 767px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 979px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 1023px) {
	.carousel-holder .btn {
		min-width: 250px;
		left: 8%;
	}

	.carousel-holder .image-holder {
		max-width: 60%;
		margin: 0 auto;
	}

	.carousel-holder .graphic {
		width: 600px;
	}
}

@media (max-width: 979px) {
	.x-main.full,
	.x-main.left,
	.x-main.right,
	.x-sidebar.left,
	.x-sidebar.right {
		float: none;
		display: block;
		width: auto !important;
	}

	.x-navbar-fixed-top-active .x-navbar-wrap {
		margin-bottom: 0;
	}

	body.x-navbar-fixed-top-active .x-navbar-wrap {
		height: auto;
	}

	.x-widgetbar {
		left: 0;
		right: 0;
	}
}

@media (max-width: 767px) {
	.carousel-holder .btn {
		left: 5%;
		bottom: 15px;
		min-width: 200px;
	}

	.carousel-holder .graphic {
		width: 450px;
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(20%, 0, 0);
		transform: translate3d(20%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(20%, 0, 0);
		transform: translate3d(20%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(-20%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(-20%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
