.carousel-section {
  padding: 30px 0;
}

.carousel-holder {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;

  h2 {
    @include font-size(40, 44);
    font-weight: bold;

    .text-blue {
      color: darken(cyan, 10%);
    }
  }

  .btn {
    min-width: 324px;
    position: absolute;
    bottom: 50px;
    left: 12%;

    @include media ('<desktop') {
      min-width: 250px;
      left: 8%;
    }

    @include media ('<tablet') {
      left: 5%;
      bottom: 15px;
      min-width: 200px;
    }

    &.btn-primary-1 {
      &.dark {
        background: #435268 !important;
        padding-left: 65px !important;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: url(../images/matthew.png) no-repeat 50% 50%;
          background-size: cover;
          opacity: 0.4;
        }

        .btn-play {
          width: 56px;
          height: 56px;
          background: #fff;
          border-radius: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 5px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            display: block;
            width: 14px;
            height: 16px;
            flex-grow: 0;
            flex-shrink: 0;
            fill: #435268;
          }
        }
      }
    }
  }

  .image-holder {
    @include media ('<desktop') {
      max-width: 60%;
      margin: 0 auto;
    }
  }

  .graphic {
    width: 810px;
    // height: 123px;
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;

    @include media ('<desktop') {
      width: 600px;
    }

    @include media ('<tablet') {
      width: 450px;
    }

    img {
      opacity: 0.6;
    }
  }
}

.owl-carousel {
  padding-bottom: 40px;
  .owl-item {
    img {
      width: auto;
      margin: 0 auto;
    }

    h2 {
      margin-bottom: 30px;
    }

    .graphic {
      img {
        max-width: none;
        // width: auto;
      }
    }

    &.next_slide {

      &.active {

        h2,
        .btn,
        .graphic {
          animation-name: fadeInRight;
          animation-duration: 1s;
          animation-fill-mode: both;
        }
      }
    }

    &.prev_slide {

      &.active {

        h2,
        .btn,
        .graphic {
          animation-name: fadeInLeft;
          animation-duration: 1s;
          animation-fill-mode: both;
        }
      }
    }
  }

  .owl-stage {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .owl-dot {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background: #e0e0e0;
      margin: 0 7px;
      outline: none;

      &.active {
        background:  darken(cyan, 10%);
      }
    }
  }
}



@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
