<div class="separator"></div>

<div class="head-title">
    <h3 class="title" id="Examples">Examples</h3>
</div>

<ul class="steps">
    <li class="step" id="Demo-Online">
        <span class="step-number">+</span>
        <h4 class="step-title">Demo Online</h4>
        <div class="step-content">
            <a href="http://scrollmagic.lamblue.com" target="_blank"><b>View Demo Online</b></a>
        </div>
    </li>
</ul>
<!-- end installation -->
